<div class="is-spaced">
  <div #chartElement [id]="selectedCountry.country !== 'France' ? 'map-world' : 'map-france'"></div>
</div>
<div class="radio-buttons" *ngIf="selectedTypeData !== 'test' && selectedTypeData !== 'emergency'">
  <mat-radio-group aria-label="Sélectionner" [(ngModel)]="selectedTypeMap" (change)="onSelectTypeMap()">
    <mat-radio-button value="cases" *ngIf="selectedCountry.country !== 'France'">Confirmés</mat-radio-button>
    <mat-radio-button value="hospital" *ngIf="selectedCountry.country === 'France'">Hospitalisations en cours</mat-radio-button>
    <mat-radio-button value="reanimation" *ngIf="selectedCountry.country === 'France'">Réanimations en cours</mat-radio-button>
    <mat-radio-button value="active" *ngIf="selectedCountry.country !== 'France'">Actifs</mat-radio-button>
    <mat-radio-button value="critical" *ngIf="selectedCountry.country !== 'France'">Critiques</mat-radio-button>
    <mat-radio-button value="deaths">Décès</mat-radio-button>
    <mat-radio-button value="recovered">Guéris</mat-radio-button>

  </mat-radio-group>
</div>
<div class="radio-buttons" *ngIf="selectedTypeData === 'test'">
  <mat-radio-group aria-label="Sélectionner" [(ngModel)]="selectedTypeMap" (change)="onSelectTypeMap()">
    <mat-radio-button value="0">Tous</mat-radio-button>
    <mat-radio-button value="9">0-9 ans</mat-radio-button>
    <mat-radio-button value="19">10-19 ans</mat-radio-button>
    <mat-radio-button value="29">20-29 ans</mat-radio-button>
    <mat-radio-button value="39">30-39 ans</mat-radio-button>
    <mat-radio-button value="49">40-49 ans</mat-radio-button>
    <mat-radio-button value="59">50-59 ans</mat-radio-button>
    <mat-radio-button value="69">60-69 ans</mat-radio-button>
    <mat-radio-button value="79">70-79 ans</mat-radio-button>
    <mat-radio-button value="89">80-89 ans</mat-radio-button>
    <mat-radio-button value="90">90 ans et plus</mat-radio-button>
  </mat-radio-group>
</div>
<div class="radio-buttons" *ngIf="selectedTypeData === 'emergency'">
  <mat-radio-group aria-label="Sélectionner" [(ngModel)]="selectedTypeMap" (change)="onSelectTypeMap()">
    <mat-radio-button value="passageCorona">Passages aux urgences pour suspicion de COVID-19</mat-radio-button>
    <mat-radio-button value="hospitalCorona">Hospitalisations parmi les passages aux urgences pour suspicion de COVID-19</mat-radio-button>
    <mat-radio-button value="acteCorona">Actes médicaux SOS Médecins pour suspicion de COVID-19</mat-radio-button>
  </mat-radio-group>
</div>

