<div class="is-spaced">
  <div #chartElement [id]="selectedCountry.country !== 'France' ? 'map-world' : 'map-france'"></div>
</div>
<div class="radio-buttons" *ngIf="selectedTypeData !== 'test'">
  <mat-radio-group aria-label="Sélectionner" [(ngModel)]="selectedTypeMap" (change)="onSelectTypeMap()">
    <mat-radio-button value="cases" *ngIf="selectedCountry.country !== 'France'">Confirmés</mat-radio-button>
    <mat-radio-button value="hospital" *ngIf="selectedCountry.country === 'France'">Hospitalisations en cours</mat-radio-button>
    <mat-radio-button value="reanimation" *ngIf="selectedCountry.country === 'France'">Réanimations en cours</mat-radio-button>
    <mat-radio-button value="active" *ngIf="selectedCountry.country !== 'France'">Actifs</mat-radio-button>
    <mat-radio-button value="critical" *ngIf="selectedCountry.country !== 'France'">Critiques</mat-radio-button>
    <mat-radio-button value="deaths">Décès</mat-radio-button>
    <mat-radio-button value="recovered">Guéris</mat-radio-button>

  </mat-radio-group>
</div>
<div class="radio-buttons" *ngIf="selectedTypeData === 'test'">
  <mat-radio-group aria-label="Sélectionner" [(ngModel)]="selectedTypeMap" (change)="onSelectTypeMap()">
    <mat-radio-button value="ageAll">Tous</mat-radio-button>
    <mat-radio-button value="ageA">Moins de 15 ans</mat-radio-button>
    <mat-radio-button value="ageB" >15-44 ans</mat-radio-button>
    <mat-radio-button value="ageC" >45-64 ans</mat-radio-button>
    <mat-radio-button value="ageD" >65-74 ans</mat-radio-button>
    <mat-radio-button value="ageE" >Plus de 75 ans</mat-radio-button>
  </mat-radio-group>
</div>

