<div class="content">
  <h1 class="title" id="tableDescription">
    Transferts de patients atteints de COVID-19 France
  </h1>
  <p>
    Depuis le 18 mars 2020, le gouvernement effectue des transferts de
    patients entre les hôpitaux pour permettre le désengorgement
     des établissements les plus touchés.
  </p>
  <ng-container *ngIf="(dataTransfert$ | loading | async )  as dataTransfert">
    <ng-container *ngIf="dataTransfert?.value">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification hospital">
            <p class="title">
              {{ dataTransfert?.value?.totalTransfer | number: '' :'fr-FR' }}
            </p>
            <p class="subtitle">Transferts effectués</p>
            <div class="legend">
              Source : Ministère des Solidarités et de la Santé
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="title">
              {{ dataTransfert?.value?.totalPatients | number: '' :'fr-FR' }}
            </p>
            <p class="subtitle">
              Patients transférés à travers la France et l'Europe
            </p>
            <div class="legend">
              Source : Ministère des Solidarités et de la Santé
            </div>
          </article>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <mat-label class="label" >Filtrer par la région de départ</mat-label>
          <mat-select role="listbox" placeholder="Filter par la région de départ" [(ngModel)]="startRegion">
            <mat-option role="option">
              <ngx-mat-select-search ngModel placeholderLabel="Rechercher une région..." noEntriesFoundLabel="Région inconnue"
                clearSearchInput="true" (ngModelChange)="filterRegions($event)">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option role="option" *ngFor="let region of filteredRegions; trackByFn" [value]="region">
              {{region.name}}
            </mat-option>
          </mat-select>
          <div class="block is-spaced" *ngIf="startRegion">
            Région de départ sélectionnée :
            <span class="tag is-info">
              {{startRegion?.name}}
              <button class="delete is-medium" (click)="clearStartRegion()"></button>
            </span>
          </div>
        </div>
        <div class="column">
          <mat-label class="label" >Filtrer par la région d'arrivée</mat-label>
          <mat-select role="listbox" placeholder="Filter par la région d'arrivée" [(ngModel)]="endRegion">

            <mat-option role="option">
              <ngx-mat-select-search ngModel placeholderLabel="Rechercher une région..." noEntriesFoundLabel="Région inconnue"
                clearSearchInput="true" (ngModelChange)="filterRegions($event)">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option role="option" *ngFor="let region of filteredRegions; trackByFn" [value]="region">
              {{region.name}}
            </mat-option>
            <mat-option role="option" [value]="{name: 'Europe'}">
              Europe
            </mat-option>
          </mat-select>
          <div class="block is-spaced" *ngIf="endRegion">
            Région d'arrivée sélectionnée :
            <span class="tag is-info">
              {{endRegion?.name}}
              <button class="delete is-medium" (click)="clearEndRegion()"></button>
            </span>
          </div>
        </div>
        <div class="column">
          <mat-label class="label" >Trier par</mat-label>
          <mat-select role="listbox" placeholder="Filter par la région d'arrivée" [(ngModel)]="selectedSortFilter">
            <mat-option role="option" *ngFor="let sortFilter of sortFilters; trackByFn" [value]="sortFilter">
              {{sortFilter}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="transfert">
        <h2 class="title" *ngIf="startRegion || endRegion">
          <ng-container [ngPlural]="(dataTransfert?.value.data | transferFilter: startRegion : endRegion : selectedSortFilter).length">
            <ng-template ngPluralCase="=0">Aucun transfert effectué</ng-template>
            <ng-template ngPluralCase="=1">{{(dataTransfert?.value.data | transferFilter: startRegion : endRegion : selectedSortFilter).length}} transfert effectué</ng-template>
            <ng-template ngPluralCase="other">{{(dataTransfert?.value.data | transferFilter: startRegion : endRegion : selectedSortFilter).length}} transferts effectués</ng-template>
          </ng-container>
          <ng-container [ngPlural]="(dataTransfert?.value.data | transferFilter: startRegion : endRegion: selectedSortFilter) | countTransferPatient">
            <ng-template ngPluralCase="=0"></ng-template>
            <ng-template ngPluralCase="=1"> avec {{(dataTransfert?.value.data | transferFilter: startRegion : endRegion : selectedSortFilter) | countTransferPatient}} patient</ng-template>
            <ng-template ngPluralCase="other"> avec {{(dataTransfert?.value.data | transferFilter: startRegion : endRegion : selectedSortFilter) | countTransferPatient}} patients</ng-template>
          </ng-container>
          <ng-container *ngIf="startRegion">
            depuis la région {{startRegion.name}}
            </ng-container>
            <ng-container *ngIf="endRegion">
              vers la région {{endRegion.name}}
            </ng-container>
        </h2>
        <div class="columns is-multiline">
          <article class="message column is-2-fullhd is-3-widescreen is-4-desktop is-4-tablet is-info" *ngFor="let transfert of dataTransfert?.value.data | transferFilter: startRegion : endRegion : selectedSortFilter">
            <div class="message-header">
              <span class="date" *ngIf="transfert.startDate !== transfert.endDate">
                {{ transfert.startDate | date: "d MMMM":"fr-FR" }} au
                {{ transfert.endDate | date: "d MMMM":"fr-FR" }}
              </span>
              <span class="date" *ngIf="transfert.startDate === transfert.endDate">
                {{ transfert.startDate | date: "d MMMM":"fr-FR" }}
              </span>
              <span *ngIf="transfert.endCountry">
                Transfert Europe
              </span>
              <span *ngIf="!transfert.endCountry">
                Transfert France
              </span>
            </div>
            <div class="message-body subtitle">
              <div class="timeline">
                <header class="timeline-header">
                  <span class="tag is-danger">Départ</span>
                </header>
                <div class="timeline-item">
                  <div class="timeline-marker is-danger is-icon">
                  </div>
                  <div class="timeline-content">
                    <p class="start-region">{{ transfert.startRegion }}</p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-marker is-transport is-icon">
                    <span
                    class="material-icons transport"
                    *ngFor="let transport of transfert.type"
                  >
                    <ng-container *ngIf="transport === 'avion'">
                      flight
                    </ng-container>
                    <ng-container *ngIf="transport === 'train'">
                      train
                    </ng-container>
                    <ng-container *ngIf="transport === 'bateau militaire'">
                      directions_boat
                    </ng-container>
                  </span>
                  </div>
                  <div class="timeline-content ">
                    <p>{{ transfert.numberPatients }} patients transférés
                      par
                      <span
                      *ngFor="let transport of transfert.type; let index = index"
                    >
                    <ng-container *ngIf="index !== transfert.type.length - 1">
                      {{transport}},
                    </ng-container>
                    <ng-container *ngIf="index === transfert.type.length - 1">
                       {{ transport }}
                    </ng-container>
                    </span>
                    </p>
                  </div>
                </div>
                <div class="timeline-item">
                  <div class="timeline-marker is-primary is-icon">
                  </div>
                  <div class="timeline-content">
                    <p class="end-region">
                      <ng-container *ngIf="transfert.endRegion">
                        {{ transfert.endRegion }}
                      </ng-container>
                      <ng-container *ngIf="transfert.endCountry">
                        <ng-container *ngFor="let country of transfert.endCountry; let index = index">
                          <ng-container *ngIf="index !== transfert.endCountry.length - 1">
                            {{ country }},
                          </ng-container>
                          <ng-container *ngIf="index === transfert.endCountry.length - 1">
                            {{ country }}
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </p>
                  </div>
                </div>
                <header class="timeline-header">
                  <span class="tag is-primary">Arrivée</span>
                </header>
              </div>
            </div>
          </article>
        </div>

      </div>
    </ng-container>
    <ng-container *ngIf="dataTransfert?.loading">
      <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="(dataTransfert?.value && dataTransfert?.value.length === 0) && !dataTransfert.loading">
      <article class="message is-danger is-spaced">
        <div class="message-header">
          <p>Données indisponibles</p>
        </div>
        <div class="message-body">
          Nous n'avons pas trouvé de données.
        </div>
      </article>
    </ng-container>
  </ng-container>

</div>

