#chart-timeline {
  height: 550px
}
#chart-test-age {
  height: 500px
}
#chart-day {
  height: 500px;
}

#chart-urgences-passage,
#chart-urgences-medical,
#chart-urgences-hospital,
#chart-urgences-passage-gender,
#chart-urgences-hospital-gender,
#chart-urgences-hospital-age,
#chart-urgences-passage-age,
#chart-urgences-medical-age,
#chart-urgences-medical-gender
{
  height: 550px;
}
