<a (click)="onSelectCountry({country: 'France', slug: 'france', translation: 'France'})" class="button is-info"
  *ngIf="selectedDepartment || selectedRegion">Retourner aux statistiques nationales</a>
<p class="is-spaced">
  Suivez le nombre de tests de dépistage du <strong>Coronavirus COVID-19</strong> en <strong>
    {{selectedCountry?.translation}} {{selectedRegion?.name}} {{selectedDepartment?.name}}
  </strong>. Il
  contient uniquement les tests réalisés par les laboratoires de villes. Il ne recense pas l’ensemble des tests réalisés.
</p>
<h1 class="title is-spaced" id="tableDescription">Statistiques de tests de dépistage COVID-19
  {{selectedDepartment?.name}}
  {{selectedRegion?.name}}
  <ng-container *ngIf="!selectedDepartment && !selectedRegion">
    France
  </ng-container>
</h1>
<ng-container *ngIf="(dataTest$ | loading | async) as dataTest">
  <ng-container *ngIf="dataTest?.value">
    <div class="content">
      <p>
        Les données de tests de dépistage pour le diagnostic du Covid-19 ont été mises à jour le
        <strong>{{dataTest?.value.lastUpdate | date: 'd MMMM yyyy':'fr-FR'}}</strong> par Santé publique.

      </p>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <p class="title">{{dataTest?.value.total[0].testTotal | number: '' :'fr-FR'}}</p>
            <p class="subtitle">Tests effectués</p>
            <div class="legend">
              Source : Santé publique
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <p class="title">{{dataTest?.value.total[0].testTotalPositive | number: '' :'fr-FR'}}</p>
            <p class="subtitle">Tests positifs</p>
            <div class="legend">
              Source : Santé publique
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification">
            <p class="title">{{dataTest?.value.total[0].testTotalNegative | number: '' :'fr-FR'}}</p>
            <p class="subtitle">Tests négatifs</p>
            <div class="legend">
              Source : Santé publique
            </div>
          </article>
        </div>
      </div>


      <div class="columns">
        <div class="column is-spaced is-two-fifths" *ngIf="!selectedDepartment && !selectedRegion">
          <h2>Cartographie des tests de dépistage selon l'âge</h2>
          <p>
            Cette carte permet de voir les tests de dépistage pour le diagnostic du Covid-19 effectués selon le
            département, la région, l'âge et le sexe
            en France.
          </p>
          <mat-label class="label" for="country-select">Sélectionner un découpage</mat-label>
          <mat-select role="listbox" [(ngModel)]="selectedDivisionMap">
            <mat-option role="option" [value]="'regionFrance'">
              Par région
            </mat-option>
            <mat-option role="option" [value]="'departmentFrance'">
              Par département
            </mat-option>
          </mat-select>
          <app-coronavirus-map [selectedDivisionMap]="selectedDivisionMap" [selectedTypeData]="'test'" [detailedStats]="selectedDivisionMap === 'regionFrance' ?
          dataTest.value.region : dataTest.value.department" [selectedCountry]="selectedCountry">
          </app-coronavirus-map>
        </div>
        <div class="column is-spaced">
          <h2>Nombre de tests de dépistage effectués depuis le 10 mars</h2>
          <p>
            Ce diagramme montre le nombre de tests de dépistage pour le diagnostic du Covid-19 par jour avec le nombre
            de
            tests positifs et négatifs.
          </p>
          <app-coronavirus-chart-test-column [nameChart]="'chart-timeline'" [data]="dataTest?.value">
          </app-coronavirus-chart-test-column>
        </div>
      </div>
      <div class="columns">
        <div class="column is-spaced is-one-quarter">
          <app-coronavirus-chart-pie [dataTest]="dataTest?.value?.total[0]"></app-coronavirus-chart-pie>
        </div>
        <div class="column is-spaced">
          <h2>
            Répartition des tests de dépistage positifs et négatifs en fonction de l'âge
          </h2>
          <p>
            Ce diagramme montre le nombre de tests de dépistage pour le diagnostic du Covid-19 avec la répartion de
            tests positifs et négatifs en fonction de l'âge.
          </p>
          <app-coronavirus-chart-test-column [nameChart]="'chart-test-age'" [data]="dataTest?.value">
          </app-coronavirus-chart-test-column>
        </div>
        <div class="column is-spaced">
          <h2>Comparaison du nombre de tests de dépistage effectués en fonction de l'âge et le sexe</h2>
          <p>
            Ce diagramme compare le nombre de tests de dépistage pour le diagnostic du Covid-19 en fonction de l'âge et le sexe.
          </p>
          <app-coronavirus-chart-pyramid [data]="dataTest?.value?.total"></app-coronavirus-chart-pyramid>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="dataTest?.loading">
    <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
  </ng-container>
  <ng-container *ngIf="(dataTest?.value && dataTest?.value.length === 0) && !dataTest.loading">
    <article class="message is-danger is-spaced">
      <div class="message-header">
        <p>Données indisponibles</p>
      </div>
      <div class="message-body">
        Nous n'avons pas trouvé de données.
      </div>
    </article>
  </ng-container>
</ng-container>
