<!-- Description -->
<div class="content">
  <h1 class="title is-spaced" id="tableDescription">Statistiques et cas Coronavirus COVID-19
    <ng-container *ngIf="!selectedRegion && !selectedDepartment">
      {{selectedCountry?.translation}}
    </ng-container>

    {{selectedRegion?.name}}
    {{selectedDepartment?.name}}
  </h1>
  <p class="description" *ngIf="selectedCountry?.country === 'Monde'">
    Suivez en direct l'épidémie du <strong>Coronavirus COVID-19</strong> avec le nombre de cas recensés, le nombre
    de morts et de cas guéris en <strong>France</strong> et dans le monde entier: <strong>Italie, Espagne,
      Chine</strong> à travers un dashboard et des graphiques détaillés.
  </p>
  <p class="description" *ngIf="selectedCountry?.country !== 'Monde' && selectedCountry?.country !== 'France'">
    Suivez en direct l'épidémie du <strong>Coronavirus COVID-19</strong> avec le nombre de cas recensés, le nombre
    de morts et de cas guéris en <strong>{{selectedCountry?.translation}}</strong> à travers un dashboard et des
    graphiques détaillés.
  </p>
  <!-- <p class="description" *ngIf="selectedCountry?.country === 'France'">
    Suivez en direct l'épidémie en <strong>
      <ng-container *ngIf="!selectedRegion && !selectedDepartment">
        {{selectedCountry?.country}}
      </ng-container>
      {{selectedRegion?.name}}
      {{selectedDepartment?.name}}
    </strong> du <strong>Coronavirus COVID-19</strong> avec les données Worldometer et les données hospitalières
    quotidiennes relatives à l'épidémie du COVID-19.
  </p> -->


  <!-- World and Country Container -->
  <ng-container *ngIf="(detailedStats$ | loading | async) as detailedStats">
    <ng-container *ngIf="detailedStats.value && detailedStats.value.length > 0">

      <ng-container *ngIf="selectedCountry.country !== 'France'">
        <app-coronavirus-stats [mainStats]="detailedStats.value | countryfilter: selectedCountry.code"
          [selectedCountry]="selectedCountry"></app-coronavirus-stats>

        <!-- World container -->
        <ng-container *ngIf="selectedCountry.country === 'Monde'">
          <div class="columns">
            <div class="column" *ngIf="isBrowser && selectedCountry.country === 'Monde'">
              <app-coronavirus-map [selectedDivisionMap]="'world'" [selectedCountry]="selectedCountry"
                [detailedStats]="detailedStats.value | countryfilter: ''">
              </app-coronavirus-map>
            </div>

          </div>
          <div class="columns" *ngIf="selectedCountry.country === 'Monde'">
            <div class="column" *ngIf="selectedCountry.country === 'Monde'">
              <h2>Tableau récapitulatif de l'épidémie dans le monde</h2>
              <app-coronavirus-table [detailedStats]="detailedStats.value | countryfilter: ''"
                [selectedCountry]="selectedCountry">
              </app-coronavirus-table>
            </div>
            <ng-container *ngIf="(data$ | loading | async) as data">
              <ng-container *ngIf="data.value">
                <div class="column" *ngIf="isBrowser">
                  <app-coronavirus-graph [data]="data.value"></app-coronavirus-graph>
                </div>
              </ng-container>
              <ng-container *ngIf="!data.value && !data.loading">
                <article class="message is-danger is-spaced">
                  <div class="message-header">
                    <p>Données indisponibles</p>
                  </div>
                  <div class="message-body">
                    Nous n'avons pas trouvé de données.
                  </div>
                </article>
              </ng-container>
              <ng-container *ngIf="data.loading">
                <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
              </ng-container>
            </ng-container>

          </div>
        </ng-container>
        <!-- Country container -->
        <ng-container *ngIf="selectedCountry.country !== 'Monde'">
          <div class="columns">
            <div class="column is-spaced">
              <ng-container *ngIf="(tableStatsByCountry$ | loading | async) as tableStatsByCountry">
                <ng-container *ngIf="tableStatsByCountry.value && tableStatsByCountry.value.length > 0">
                  <h2>Tableau récapitulatif de l'épidémie dans le pays</h2>
                  <app-coronavirus-table [detailedStats]="tableStatsByCountry.value"
                    [selectedCountry]="selectedCountry">
                  </app-coronavirus-table>
                </ng-container>
                <ng-container *ngIf="!tableStatsByCountry.value && !tableStatsByCountry.loading">
                  <article class="message is-danger is-spaced">
                    <div class="message-header">
                      <p>Données indisponibles</p>
                    </div>
                    <div class="message-body">
                      Nous n'avons pas trouvé de données.
                    </div>
                  </article>
                </ng-container>
                <ng-container *ngIf="tableStatsByCountry.loading">
                  <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
                </ng-container>
              </ng-container>
            </div>
            <div class="column is-spaced is-two-thirds">
              <ng-container *ngIf="(dailyDatasByCountry$ | loading | async) as dailyDatasByCountry">
                <ng-container *ngIf="dailyDatasByCountry.value && dailyDatasByCountry.value.length > 0">
                  <app-coronavirus-graph [dailyDatasByCountry]="dailyDatasByCountry.value"></app-coronavirus-graph>
                </ng-container>
                <ng-container *ngIf="!dailyDatasByCountry.value && !dailyDatasByCountry.loading">
                  <article class="message is-danger is-spaced">
                    <div class="message-header">
                      <p>Données indisponibles</p>
                    </div>
                    <div class="message-body">initChartAgeNationalStat
                      Nous n'avons pas trouvé de données.
                    </div>
                  </article>
                </ng-container>
                <ng-container *ngIf="dailyDatasByCountry.loading">
                  <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
                </ng-container>
              </ng-container>
            </div>

          </div>

        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="detailedStats.loading">
      <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="(detailedStats.value && detailedStats.value.length === 0) && !detailedStats.loading">
      <article class="message is-danger is-spaced">
        <div class="message-header">
          <p>Données indisponibles</p>
        </div>
        <div class="message-body">
          Nous n'avons pas trouvé de données.
        </div>
      </article>
    </ng-container>
  </ng-container>

  <!-- France Container -->
  <ng-container *ngIf="selectedCountry.country === 'France'">
    <ng-container *ngIf="(franceStats$ | loading | async) as franceStats">
      <ng-container *ngIf="franceStats.value">
        <app-coronavirus-stats [selectedCountry]="selectedCountry"
          [mainStats]="franceStats.value" [selectedZone]="selectedZone">
        </app-coronavirus-stats>
        <div class="columns" *ngIf="!selectedRegion && !selectedDepartment">
          <div class="column is-spaced">
            <h2 class="title">Cartographie de l'épidémie en France</h2>
            <p>
              Les données sont remontées par les <strong>centres hospitaliers</strong> participants à SI-VIC.
              Cette carte permet de recenser le nombre d'hospitalisations en cours,
              le nombre de réanimations en cours, le nombre de décès et le nombre
              de guéris par région et par département en France.
            </p>
            <mat-label class="label" for="country-select">Sélectionner un découpage</mat-label>
            <mat-select role="listbox" [(ngModel)]="selectedDivisionMap">
              <mat-option role="option" [value]="'departmentFrance'">
                Par département
              </mat-option>
              <mat-option role="option" [value]="'regionFrance'">
                Par région
              </mat-option>
            </mat-select>
            <ng-container *ngIf="isBrowser">
              <app-coronavirus-map [selectedCountry]="selectedCountry" [selectedDivisionMap]="selectedDivisionMap"
              [detailedStats]="selectedDivisionMap === 'regionFrance' ?
              franceStats.value.region.total : franceStats.value.department.total"></app-coronavirus-map>
            </ng-container>
          </div>
          <div class="column is-spaced is-half">
            <h2 class="title">Tableau récapitulatif de l'épidémie en France</h2>
            <p>
              Les données sont remontées par les <strong>centres hospitaliers</strong> participants à SI-VIC.
              Le <strong>taux de décès</strong> correspond au nombre de décès survenus suite à une hospitalisation sur
              le nombre total d'hospitalisations.
              Le <strong>taux de guéris</strong> correspond au nombre de guéris suite à une hospitalisation sur le
              nombre total d'hospitalisations.
            </p>
            <app-coronavirus-table [selectedDivisionMap]="selectedDivisionMap" [detailedStats]="selectedDivisionMap === 'regionFrance' ?
              franceStats.value.region.total : franceStats.value.department.total" [selectedCountry]="selectedCountry">
            </app-coronavirus-table>
          </div>
        </div>
        <div class="columns" *ngIf="selectedRegion">
          <div class="column is-three-fifths is-spaced">
            <h2 class="title">Tableau récapitulatif de l'épidémie dans la région</h2>
            <p>
              Les données sont remontées par les <strong>centres hospitaliers</strong> participants à SI-VIC.
              Le <strong>taux de décès</strong> correspond au nombre de décès survenus suite à une hospitalisation sur
              le nombre total d'hospitalisations.
              Le <strong>taux de guéris</strong> correspond au nombre de guéris suite à une hospitalisation sur le
              nombre total d'hospitalisations.
            </p>
            <app-coronavirus-table [selectedDivisionMap]="'departmentFrance'"
              [detailedStats]="franceStats.value.details" [selectedCountry]="selectedCountry">
            </app-coronavirus-table>
          </div>
          <div class="column is-two-fifths" *ngIf="selectedRegion">
            <div class="tabs">
              <ul>
                <li [class.is-active]="tabRepartionSelected === 'repartitionAge'"
                  (click)="selectTabRepartition('repartitionAge')"><a>Répartition selon l'âge</a></li>
                <li [class.is-active]="tabRepartionSelected === 'repartitionSex'"
                  (click)="selectTabRepartition('repartitionSex')"><a>Répartition selon le sexe</a></li>
              </ul>
            </div>
            <ng-container *ngIf="tabRepartionSelected === 'repartitionAge' && isBrowser">
              <app-coronavirus-chart-test-column [nameChart]="'chart-national-age'" [data]="franceStats.value.age">
              </app-coronavirus-chart-test-column>
            </ng-container>
            <ng-container *ngIf="tabRepartionSelected === 'repartitionSex' && isBrowser">
              <app-coronavirus-chart-pie [dataGender]="{ men: franceStats.value.men, women: franceStats.value.women }">
              </app-coronavirus-chart-pie>
            </ng-container>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="tabs">
              <ul>
                <li [class.is-active]="tabTimelineSelected === 'timelineCumulated'"
                  (click)="selectTabTimeline('timelineCumulated')"><a>Évolution temporelle</a></li>
                <li [class.is-active]="tabTimelineSelected === 'timelineDay'"
                  (click)="selectTabTimeline('timelineDay')"><a>Nombre quotidien de nouveaux cas</a></li>
              </ul>
            </div>
            <ng-container *ngIf="tabTimelineSelected === 'timelineCumulated' && isBrowser">
              <app-coronavirus-graph [dataFrance]="franceStats.value.timeline">
              </app-coronavirus-graph>
            </ng-container>
            <ng-container *ngIf="tabTimelineSelected === 'timelineDay'">
              <h2 class="title">Nombre quotidien
                de nouvelles hospitalisations, de nouvelles admissions
                en réanimation, de nouveaux décès et de nouveaux guéris en milieu hospitalier</h2>
              <p>
                Les données remontées par les <strong>centres hospitaliers</strong> participants à SI-VIC sont : le
                nombre quotidien de personnes nouvellement hospitalisées, le nombre
                quotidien de nouvelles admissions en réanimation, le nombre quotidien de personnes nouvellement
                décédées, le nombre quotidien de nouveaux retours à domicile.
              </p>
              <ng-container *ngIf="(franceStatsDay$ | loading | async) as franceStatsDay">
                <ng-container *ngIf="franceStatsDay.value && isBrowser">
                  <app-coronavirus-chart-test-column [nameChart]="'chart-day'" [data]="franceStatsDay.value">
                  </app-coronavirus-chart-test-column>
                </ng-container>
                <ng-container *ngIf="franceStatsDay.loading">
                  <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
                </ng-container>
                <ng-container
                  *ngIf="(franceStatsDay.value && franceStatsDay.value.length === 0) && !franceStatsDay.loading">
                  <article class="message is-danger is-spaced">
                    <div class="message-header">
                      <p>Données indisponibles</p>
                    </div>
                    <div class="message-body">
                      Nous n'avons pas trouvé de données.
                    </div>
                  </article>
                </ng-container>
              </ng-container>

            </ng-container>

          </div>
          <div class="column is-two-fifths" *ngIf="!selectedRegion">
            <div class="tabs">
              <ul>
                <li [class.is-active]="tabRepartionSelected === 'repartitionAge'"
                  (click)="selectTabRepartition('repartitionAge')"><a>Répartition selon l'âge</a></li>
                <li [class.is-active]="tabRepartionSelected === 'repartitionSex'"
                  (click)="selectTabRepartition('repartitionSex')"><a>Répartition selon le sexe</a></li>
              </ul>
            </div>
            <ng-container *ngIf="tabRepartionSelected === 'repartitionAge'">
              <ng-container *ngIf="selectedDepartment && isBrowser">
                <app-coronavirus-chart-age [dataAge]="franceStats.value.age"></app-coronavirus-chart-age>
              </ng-container>
              <ng-container *ngIf="!selectedDepartment && isBrowser">
                <app-coronavirus-chart-test-column [nameChart]="'chart-national-age'" [data]="franceStats.value.age">
                </app-coronavirus-chart-test-column>
              </ng-container>

            </ng-container>
            <ng-container *ngIf="tabRepartionSelected === 'repartitionSex' && isBrowser">
              <app-coronavirus-chart-pie [dataGender]="{ men: franceStats.value.men, women: franceStats.value.women }">
              </app-coronavirus-chart-pie>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="franceStats.loading">
        <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
      </ng-container>
      <ng-container *ngIf="(franceStats.value && franceStats.value.length === 0) && !franceStats.loading">
        <article class="message is-danger is-spaced">
          <div class="message-header">
            <p>Données indisponibles</p>
          </div>
          <div class="message-body">
            Nous n'avons pas trouvé de données.
          </div>
        </article>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
