.news {
  height: 150px;
  overflow-y:auto;
  overflow-x: hidden;
  margin: 0;
  a {
    text-decoration: none !important;
    font-weight: 600;
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.new-item {
  display: flex;
  align-items: flex-start;
}

.share-buttons {
  display: flex;
}

.source {
  font-size: 0.8em;
}

.twitter {
  margin-right: 1em;
}
