<article class="message is-info">
  <div class="message-header">
    <a [routerLink]="['/news']">
      News Coronavirus
    </a>
    <div class="share-buttons">
      <span class="twitter">Suivez-nous sur Twitter !</span> <a href="https://twitter.com/cascoronavirus?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="medium" data-lang="fr" data-show-count="false">Follow @cascoronavirus</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="message-body">
    <ul class="news">
      <li class="new-item" *ngFor="let newsItem of news">
        <span class="material-icons">
          arrow_right
        </span>
        <div class="link">
          <a
          [routerLink]="['/news', newsItem.slug, newsItem.id]"
          >
            {{ newsItem.title }}
          </a>
          <div class="source">{{ newsItem.source }} - {{newsItem.date | date: "d MMMM HH:mm":"fr-FR" }}</div>
        </div>
      </li>
    </ul>
  </div>
</article>
