<div class="content">
  <a (click)="onSelectCountry({country: 'France', slug: 'france', translation: 'France'})"
    class="button is-info button-back" *ngIf="selectedDepartment || selectedRegion">Retourner aux statistiques
    nationales</a>
  <p class="is-spaced">
    Suivez les urgences hospitalières et actes médicaux <strong>Coronavirus COVID-19</strong> en <strong>
      {{selectedCountry?.translation}} {{selectedRegion?.name}} {{selectedDepartment?.name}}
    </strong> avec les données quotidiennes de SOS médecins et des urgences hospitalières par département, sexe et
    tranche d’âge des patients.
  </p>
  <h1 class="title is-spaced" id="tableDescription">Statistiques des urgences hospitalières et SOS médecins
    {{selectedDepartment?.name}}
    {{selectedRegion?.name}}
    <ng-container *ngIf="!selectedDepartment && !selectedRegion">
      France
    </ng-container>
  </h1>
  <ng-container *ngIf="(dataEmergency$ | loading | async) as dataEmergency">
    <ng-container *ngIf="dataEmergency?.value">
      <p>
        Sur la journée du <strong>{{dataEmergency?.value.lastUpdate | date: 'd MMMM yyyy':'fr-FR'}}</strong>, les
        services d'urgence
        ont accueilli
        <strong>{{dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].passageCorona | number: '' :'fr-FR'}}</strong>
        passages pour suspicion de COVID-19. <br>A la suite de ce passage,
        <strong>{{dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].hospitalCorona | number: '' :'fr-FR'}}</strong>
        patients
        ont été hospitalisés soit
        <strong>{{ dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].hospitalCorona | percentage : dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].passageCorona  }}</strong>
        des patients.<br>
        <strong>{{dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].acteCorona | number: '' :'fr-FR'}}</strong>
        interventions SOS médecins pour suspicion de COVID-19 ont eu lieu.
      </p>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <p class="title">
              {{ dataEmergency?.value.total[0].passageCorona | number: '' :'fr-FR' }}
              <span class="increase">
                ({{dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].passageCorona  | symbolNumber: 'mainStats' }}  en 24h)
              </span>
            </p>
            <p class="subtitle">Passages aux urgences pour suspicion de COVID-19</p>
            <div class="legend">
              Les données sont enregistrées depuis le 24 février par Santé publique
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification hospital">
            <p class="title">
              {{ dataEmergency?.value.total[0].hospitalCorona | number: '' :'fr-FR' }}
              <span class="increase">
                ({{dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].hospitalCorona | symbolNumber: 'mainStats'}} en 24h)
              </span>
            </p>
            <p class="subtitle">
              Hospitalisations parmi les passages aux urgences pour suspicion de COVID-19
            </p>
            <div class="legend">
              Les données sont enregistrées depuis le 24 février par Santé publique
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification reanimation">
            <p class="title">
              {{ dataEmergency?.value.total[0].acteCorona | number: '' :'fr-FR' }}
              <span class="increase">
                ({{dataEmergency?.value.timeline[dataEmergency?.value.timeline.length - 1].acteCorona | symbolNumber: 'mainStats' }} en 24h)
              </span>
            </p>

            <p class="subtitle">Actes médicaux SOS médecins pour suspicion de COVID-19</p>
            <div class="legend">
              Les données sont enregistrées depuis le 24 février par Santé publique
            </div>
          </article>
        </div>
      </div>


      <div class="columns">
        <div class="column is-spaced is-half" *ngIf="!selectedDepartment && !selectedRegion">
          <h2 class="title">Cartographie des urgences hospitalières et d'actes médicaux de SOS médecins pour suspicion
            de COVID-19 depuis le début de l'épidémie</h2>
          <p>
            Cette carte permet de voir les passages aux urgences pour suspicion de COVID-19 ainsi que les
            hospitalisations parmi ces passages.
          </p>
          <mat-label class="label" for="country-select">Sélectionner un découpage</mat-label>
          <mat-select role="listbox" [(ngModel)]="selectedDivisionMap">
            <mat-option role="option" [value]="'departmentFrance'">
              Par département
            </mat-option>
            <mat-option role="option" [value]="'regionFrance'">
              Par région
            </mat-option>
          </mat-select>
          <app-coronavirus-map [selectedDivisionMap]="selectedDivisionMap" [selectedTypeData]="'emergency'"
            [detailedStats]="selectedDivisionMap === 'regionFrance' ?
            dataEmergency.value.region : dataEmergency.value.department" [selectedCountry]="selectedCountry">
          </app-coronavirus-map>
        </div>
        <div class="column is-spaced is-half" *ngIf="!selectedDepartment && !selectedRegion">
          <h2 class="title">Tableau récapitulatif des urgences hospitalières et d'actes médicaux de SOS médecins pour
            suspicion de COVID-19 depuis le début de l'épidémie
          </h2>
          <p>
            Ce tableau récapitule les passages aux urgences pour suspicion de COVID-19 ainsi que les
            hospitalisations parmi ces passages par région et par département.
          </p>
          <app-coronavirus-table [selectedDivisionMap]="selectedDivisionMap" [detailedStats]="selectedDivisionMap === 'regionFrance' ?
            (dataEmergency.value.region) : (dataEmergency.value.department)" [selectedTypeMap]="selectedTypeMap"
            [selectedCountry]="selectedCountry">
          </app-coronavirus-table>
        </div>
      </div>
      <div class="tabs is-boxed">
        <ul>
          <li [class.is-active]="type === 'passage'">
            <a (click)="displayTab('passage')">
              <span>Passages aux urgences</span>
            </a>
          </li>
          <li [class.is-active]="type === 'hospital'">
            <a (click)="displayTab('hospital')">
              <span>Hospitalisations parmi les passages aux urgences</span>
            </a>
          </li>
          <li [class.is-active]="type === 'medical'" *ngIf="dataEmergency?.value.total[0].acteCorona > 0">
            <a (click)="displayTab('medical')">
              <span>Actes médicaux SOS médecins</span>
            </a>
          </li>
        </ul>
      </div>
      <ng-container *ngIf="type === 'passage'">
        <div class="columns">
          <div class="column is-spaced is-two-thirds">
            <h2 class="title">Taux de passage aux urgences pour suspicion de COVID-19 par jour</h2>
            <p>
              Ce diagramme montre le taux de passage aux urgences pour suspicion de COVID-19. Ce taux correspond au nombre
              de passages aux urgences pour suspicion de COVID-19 sur le nombre total de passages aux urgences.
            </p>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-passage'" [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
          <div class="column is-spaced">
            <h2 class="title">Répartition des passages aux urgences pour suspicion de COVID-19 selon l'âge</h2>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-passage-age'" [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
        </div>
        <div class="columns">
          <div class="column is-spaced is-two-thirds">
            <h2 class="title">Taux de passage aux urgences pour suspicion de COVID-19 par jour selon le sexe
            </h2>
            <p>
              Ce diagramme montre le taux de passage aux urgences pour suspicion de COVID-19 par jour selon le sexe.
            </p>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-passage-gender'"
              [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
          <div class="column is-spaced">
            <h2 class="title">Répartition des passages aux urgences pour suspicion de COVID-19 selon le sexe
            </h2>
            <p>
              Ce diagramme montre le nombre de passages aux urgences pour suspicion de COVID-19 depuis le début
              de l'épidémie selon le sexe.
            </p>
            <app-coronavirus-chart-pie [nameChart]="'chart-pie-urgences-gender'" [dataEmergency]="dataEmergency?.value?.total[0]"></app-coronavirus-chart-pie>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type === 'hospital'">
        <div class="columns">
          <div class="column is-spaced is-two-thirds">
            <h2 class="title">Taux d'hospitalisation parmi les passages aux urgences pour suspicion de COVID-19 par
              jour</h2>
            <p>
              Ce diagramme montre le taux d'hospitalisation parmi les passages aux urgences pour suspicion de COVID-19 par jour. Ce taux correspond au nombre
              d'hospitalisations sur le nombre de passages aux urgences pour suspicion de COVID-19.
            </p>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-hospital'" [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
          <div class="column is-spaced">
            <h2 class="title">Taux d'hospitalisation parmi les passages aux urgences pour suspicion de
              COVID-19 selon l'âge</h2>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-hospital-age'"
              [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
        </div>
        <div class="columns">
          <div class="column is-spaced is-two-thirds">
            <h2 class="title">Taux d'hospitalisation parmi les passages aux urgences pour suspicion de COVID-19 par
              jour selon le sexe</h2>
            <p>
              Ce diagramme montre le taux d'hospitalisation parmi les passages aux urgences pour suspicion de
              COVID-19 par jour selon le sexe.
            </p>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-hospital-gender'"
              [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
          <div class="column is-spaced">
            <h2 class="title">Répartition des hospitalisations parmi les passages aux urgences pour suspicion de COVID-19 selon le sexe
            </h2>
            <p>
              Ce diagramme montre le nombre d'hospitalisation parmi les passages aux urgence pour suspicion de COVID-19 au total depuis le début
              de l'épidémie selon le sexe.
            </p>
            <app-coronavirus-chart-pie [nameChart]="'chart-pie-urgences-hospital-gender'" [dataEmergency]="dataEmergency?.value?.total[0]"></app-coronavirus-chart-pie>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type === 'medical'">
        <div class="columns">
          <div class="column is-two-thirds is-spaced">
            <h2 class="title">Taux des actes médicaux SOS médecins pour suspicion de COVID-19 par jour</h2>
            <p>
              Ce diagramme montre le taux des actes médicaux pour suspicion de COVID-19. Ce taux correspond au nombre
              d'actes médicaux pour suspicion de COVID-19 sur le nombre total d'actes médicaux.
            </p>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-medical'" [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
          <div class="column is-spaced">
            <h2 class="title">Répartition des actes médicaux SOS Médecins pour suspicion de
              COVID-19 selon l'âge</h2>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-medical-age'"
              [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
        </div>
        <div class="columns">
          <div class="column is-two-thirds is-spaced">
            <h2 class="title">Taux des actes médicaux SOS médecins pour suspicion de COVID-19 par jour selon le sexe</h2>
            <p>
              Ce diagramme montre le taux des actes médicaux SOS pour suspicion de COVID-19 par jour selon le sexe.
            </p>
            <app-coronavirus-chart-test-column [nameChart]="'chart-urgences-medical-gender'" [data]="dataEmergency?.value">
            </app-coronavirus-chart-test-column>
          </div>
          <div class="column is-spaced">
            <h2 class="title">Répartition des actes médicaux SOS Médecins pour suspicion de
              COVID-19 selon le sexe</h2>
              <p>
                Ce diagramme montre le taux des actes médicaux au total depuis le début
                de l'épidémie selon le sexe.
              </p>
              <app-coronavirus-chart-pie [nameChart]="'chart-pie-urgences-medical-gender'"
              [dataEmergency]="dataEmergency?.value?.total[0]">
            </app-coronavirus-chart-pie >
          </div>
        </div>

      </ng-container>


    </ng-container>
    <ng-container *ngIf="dataEmergency?.loading">
      <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="(dataEmergency?.value && dataEmergency?.value.length === 0) && !dataEmergency.loading">
      <article class="message is-danger is-spaced">
        <div class="message-header">
          <p>Données indisponibles</p>
        </div>
        <div class="message-body">
          Nous n'avons pas trouvé de données.
        </div>
      </article>
    </ng-container>
  </ng-container>
</div>
