.reanimation {
  background-color: #E95D0C;
  color: white;

}

.hospital {
  background-color: #F17D07;
  color: white;
}

.legend {
  font-size: 0.7em;
}

.note {
  font-size: 0.7em;
}

.increase {
  font-size: 0.7em;
  font-weight: normal;
}

.is-active {
  font-weight: bold;
}


