<h1 class="title">Avez-vous le Coronavirus COVID-19 ? </h1>
<div class="ads">
  <ng2-adsense [adClient]="'ca-pub-8075252379413311'" [adFormat]="'auto'"  [adSlot]="7139325788"
    [display]="'block'" [fullWidthResponsive]="true"></ng2-adsense>
</div>
<div class="content">
  <p>
    Vous pensez avoir été exposé au Coronavirus COVID-19 et avez des symptômes ?<br>
    Je reste vigilant ? Je programme une téléconsultation ? J'appelle le 15 ?<br>
    Faites le test pour répondre en citoyen éclairé selon vos symptômes.<br>
  </p>
  <iframe id="maladie-coronavirus" title="Maladie Coroanvirus" width="100%" height="3500px" frameborder="0" allow="fullscreen"
  src="https://maladiecoronavirus.fr/se-tester">
  </iframe>
</div>
