<div class="content">
  <h2 class="title" *ngIf="dataFrance">
    Évolution des patients atteints de Coronavirus COVID-19
  </h2>
  <h2 class="title" *ngIf="!dataFrance">
    Évolution de l'épidémie de Coronavirus COVID-19
  </h2>
  <div #chartElement id="chart-line"></div>
  <div class="radio-buttons" *ngIf="dataFrance">
    <mat-radio-group aria-label="Sélectionner" [(ngModel)]="dataType" (change)="onSelectTypeChange()">
      <mat-radio-button value="total">Total</mat-radio-button>
      <mat-radio-button value="men">Homme</mat-radio-button>
      <mat-radio-button value="women">Femme</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
