.select-date {
  max-width: 500px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.map-deconfinement {
  text-align: center;
}

.legend {
  font-size: 0.85em;
}

.subtitle {
  &.main {
    font-size: 0.95em;
  }
}

.deconfinement {
  text-align: center;;
}
