<div class="content">
  <div class="don">
    <div class="don-content">
      <a href="https://paypal.me/pools/c/8ojhCZiSX2" target="_blank" rel="noopener noreferrer"><img
          src="../../../../assets/images/paypal.png" />
        <div class="text">
          <strong>
            Soutenez toute l'équipe de cascoronavirus.fr, qui chaque jour met
            tout en oeuvre pour vous relayer l'évolution de l'épidémie en France
            et dans le monde.
          </strong>
        </div>
      </a>
    </div>
  </div>

  <a [routerLink]="['/']" class="back"><span class="material-icons">keyboard_backspace</span> Retour à
    l'accueil
  </a>
  <h1 class="title">
    Coronavirus COVID-19 : Carte du déconfinement en France
  </h1>
  <p>
    La carte du déconfinement par département va être dévoilée à partir du jeudi 30 avril par
    le ministère de la Santé.
  </p>
  Elle devrait se baser sur trois critères :
  <ul>
    <li>
      Le taux de nouveaux cas sur sept jours pour savoir si le coronavirus circule activement.
    </li>
    <li>
      La taux de saturation des services de réanimation.
    </li>
    <li>
      La capacité des départements à détecter les personnes qui ont été en contact avec le COVID-19
      et à tester les patients ayant des symptômes de COVID-19 pour éviter la reprise de l'épidémie.
    </li>
  </ul>

  <p>
    Voici un premier état des lieux de ce que pourrait être la carte (en se basant seulement sur le taux de saturation des services de réanimation).
    Pour information, le taux de saturation des services de réanimation présent sur la carte correspond au nombre de patients en réanimation dans chaque département sur le nombre de
    lits de réanimation initialement disponibles. (données de Santé publique France et la Drees 2018)
  </p>
  <div class="map">
      <ng-container *ngIf="data$ | async as data">
        <h2 *ngIf="data.date">
          Carte du déconfinement au {{data.date | date: "d MMMM yyyy":"fr-FR" }}
        </h2>
        <div class="is-spaced">
          <ng-container *ngIf="data.img">
            <img src="{{data.img}}">
          </ng-container>
          <ng-container *ngIf="data.link">
            <iframe src="{{data.link}}"
            title="Carte du déconfinement" width="100%" height="800px" scrolling="no" frameborder="0"
            style="border:none;" allowfullscreen="allowfullscreen"></iframe>
          </ng-container>
          <ng-container *ngIf="!data.date">
            <iframe src="https://e.infogram.com/b321f554-2b7e-454a-8a35-369357fafa75?src=embed"
            title="Taux de remplissage en réanimation" width="100%" height="800px" scrolling="no" frameborder="0"
            style="border:none;" allowfullscreen="allowfullscreen"></iframe>
          </ng-container>
        </div>
      </ng-container>
  </div>


</div>
