.resume {
  height: 100%
}
.message {
  &.is-info {
    height: 100%;
  }

}

.share-buttons {
  display: flex;
}

.hospital {
  background-color: #F17D07;
  color: white;
}

.deconfinement {
  height: 100%;
  .message-header {
    text-transform: uppercase;
  }
}
