table {
  width: 100%;
}

table td {
  vertical-align: middle;
  text-align: center;
  padding: 0.2em;
}



table th {
  vertical-align: middle;
  font-weight: bold;
  padding: 0.2em;
}

.container {
  overflow: auto;
}

.table-region {
  overflow: auto;
  height: 500px;
}

.table {
  height: calc(60vh + 50px);
  overflow: auto;
}

th.mat-header-cell:first-of-type {
  padding-left: 0;
}

td.mat-cell:first-of-type {
  padding-left: 0;
}

td.mat-cell:last-of-type {
  padding-right: 0;
}

th.mat-cell:last-of-type {
  padding-right: 0;
}

.rate {
  font-size: 0.9em;
}

.field {
  width: 100%;
}

.death-rate {
  color: white !important;
  background-color: #f9461c;
  font-weight: bold;
}

.recovered-rate {
  color: white !important;
  background-color: #43D787;
  font-weight: bold;
}

.hospital-rate {
  color: white !important;
  background-color: #F17D07;
  font-weight: bold;
}
