<div class="field" *ngIf="dataSource.data.length > 15">
  <mat-label for="country-select" class="label">Faire une recherche</mat-label>
  <div class="control">
    <input class="input" (keyup)="applyFilter($event)" type="text" placeholder="Rechercher dans le tableau...">
  </div>
</div>
<div class="container" [class.table]="dataSource.data.length > 15"
  [class.table-region]="selectedDivisionMap === 'departmentFrance' && dataSource.data.length > 10">

  <table aria-describedby="tableDescription" mat-table matSort [dataSource]="dataSource" [matSortDisableClear]="true"
    [matSortActive]="matSortActive" matSortDirection="desc">

    <!-- Country Column -->
    <ng-container matColumnDef="translation" sticky>
      <th id="translation" mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container *ngIf="selectedCountry.country !== 'France'">Pays</ng-container>
        <ng-container *ngIf="selectedCountry.country === 'France'"></ng-container>
      </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!selectedDivisionMap">
          {{element.translation}} {{element.provinceState}}
        </span>
        <ng-container *ngIf="!selectedTypeMap">
          <a *ngIf="selectedDivisionMap === 'regionFrance'" [routerLink]="['/stats/france/region/', element.slug]">
            {{element.translation}} {{element.provinceState}}
          </a>
          <a *ngIf="selectedDivisionMap === 'departmentFrance'"
            [routerLink]="['/stats/france/departement/', element.slug]">
            {{element.translation}} {{element.provinceState}}
          </a>
        </ng-container>
        <ng-container *ngIf="selectedTypeMap && selectedTypeMap !== 'passage'">
          <a *ngIf="selectedDivisionMap === 'regionFrance'"
            [routerLink]="['/test-depistage/france/region/', element.slug]">
            {{element.translation}} {{element.provinceState}}
          </a>
          <a *ngIf="selectedDivisionMap === 'departmentFrance'"
            [routerLink]="['/test-depistage/france/departement/', element.slug]">
            {{element.translation}} {{element.provinceState}}
          </a>
        </ng-container>
        <ng-container *ngIf="selectedTypeMap === 'passage'">
          <a *ngIf="selectedDivisionMap === 'regionFrance'" [routerLink]="['/urgences/france/region/', element.slug]">
            {{element.translation}} {{element.provinceState}}
          </a>
          <a *ngIf="selectedDivisionMap === 'departmentFrance'"
            [routerLink]="['/urgences/france/departement/', element.slug]">
            {{element.translation}} {{element.provinceState}}
          </a>
        </ng-container>

      </td>
    </ng-container>

    <!-- Passage Column -->
    <ng-container matColumnDef="passageCorona">
      <th id="passageCorona" mat-header-cell *matHeaderCellDef mat-sort-header>Passages aux urgences</th>
      <td mat-cell *matCellDef="let element" class="has-text-warning">{{element.passageCorona | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Hospital Passage Column -->
    <ng-container matColumnDef="hospitalCorona">
      <th id="hospitalCorona" mat-header-cell *matHeaderCellDef mat-sort-header>Hospitalisations parmi les passages aux
        urgences
      </th>
      <td mat-cell *matCellDef="let element" class="hospital">
        {{element.hospitalCorona | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Hospital Passage Rate Column -->
    <ng-container matColumnDef="hospitalCoronaRate">
      <th id="hospitalCorona" mat-header-cell *matHeaderCellDef mat-sort-header>Taux d'hospitalisation parmi les passages aux urgences
      </th>
      <td mat-cell *matCellDef="let element" class="hospital hospital-rate">
        {{element.hospitalCoronaRate.toFixed(1)}} %
      </td>
    </ng-container>

    <!-- Passage Column -->
    <ng-container matColumnDef="acteCorona">
      <th id="acteCorona" mat-header-cell *matHeaderCellDef mat-sort-header>Actes médicaux SOS médecins
      </th>
      <td mat-cell *matCellDef="let element" class="reanimation">
        {{element.acteCorona | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Confirmed Column -->
    <ng-container matColumnDef="cases">
      <th id="cases" mat-header-cell *matHeaderCellDef mat-sort-header>Cas confirmés</th>
      <td mat-cell *matCellDef="let element" class="has-text-warning">{{element.cases | number: '' :'fr-FR'}}</td>
    </ng-container>

    <!-- Today Column -->
    <ng-container matColumnDef="todayCases">
      <th id="todayCases" mat-header-cell *matHeaderCellDef mat-sort-header>Nouveaux cas confirmés</th>
      <td mat-cell *matCellDef="let element" class="has-text-warning">{{element.todayCases | symbolNumber}}</td>
    </ng-container>

    <!-- Actifs Column -->
    <ng-container matColumnDef="active">
      <th id="active" mat-header-cell *matHeaderCellDef mat-sort-header>Cas actifs</th>
      <td mat-cell *matCellDef="let element" class="hospital">
        {{element.active | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Critical Column -->
    <ng-container matColumnDef="critical">
      <th id="critical" mat-header-cell *matHeaderCellDef mat-sort-header>Cas critiques</th>
      <td mat-cell *matCellDef="let element" class="reanimation">
        {{element.critical | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Deaths Column -->
    <ng-container matColumnDef="deaths">
      <th id="deaths" mat-header-cell *matHeaderCellDef mat-sort-header>Décès</th>
      <td mat-cell *matCellDef="let element" class="has-text-danger"
        [class.important]="selectedCountry.country !== 'France'">
        {{element.deaths}}<br>
        <span class="rate" *ngIf="element.deathRate && selectedCountry.country !== 'France'">({{element.deathRate}}
          %)</span>
      </td>
    </ng-container>

    <!-- Deaths Column -->
    <ng-container matColumnDef="deathRate">
      <th id="deathRate" mat-header-cell *matHeaderCellDef mat-sort-header>Taux de décès</th>
      <td mat-cell *matCellDef="let element" class="death-rate important">
        <strong>{{element.deathRate.toFixed(1)}}%</strong>
      </td>
    </ng-container>

    <!-- Deaths Column -->
    <ng-container matColumnDef="todayDeaths">
      <th id="todayDeaths" mat-header-cell *matHeaderCellDef mat-sort-header>Nouveaux décès</th>
      <td mat-cell *matCellDef="let element" class="has-text-danger">
        {{element.todayDeaths | symbolNumber}}
      </td>
    </ng-container>


    <!-- Hospital Column -->
    <ng-container matColumnDef="hospital">
      <th id="hospital" mat-header-cell *matHeaderCellDef mat-sort-header>Hospitalisations en cours</th>
      <td mat-cell *matCellDef="let element" class="hospital">
        {{element.hospital | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Hospital Start Column -->
    <ng-container matColumnDef="hospitalStart">
      <th id="hospital" mat-header-cell *matHeaderCellDef mat-sort-header>Hospitalisations cumulées</th>
      <td mat-cell *matCellDef="let element" class="hospital">
        {{element.hospitalStart | number: '' :'fr-FR'}}
      </td>
    </ng-container>


    <!-- Reanimation Column -->
    <ng-container matColumnDef="reanimation">
      <th id="reanimation" mat-header-cell *matHeaderCellDef mat-sort-header>Réanimations en cours</th>
      <td mat-cell *matCellDef="let element" class="reanimation">
        {{element.reanimation | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Reanimation Start Column -->
    <ng-container matColumnDef="reanimationStart">
      <th id="reanimation" mat-header-cell *matHeaderCellDef mat-sort-header>Réanimations cumulées</th>
      <td mat-cell *matCellDef="let element" class="reanimation">
        {{element.reanimationStart | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Recovered Column -->
    <ng-container matColumnDef="recovered">
      <th id="recovered" mat-header-cell *matHeaderCellDef mat-sort-header>Guéris</th>
      <td mat-cell *matCellDef="let element" class="has-text-success">
        {{element.recovered | number: '' :'fr-FR'}}<br>
        <span class="rate"
          *ngIf="element.recoveredRate && selectedCountry.country !== 'France'">({{element.recoveredRate}} %)</span>
      </td>
    </ng-container>

    <!-- Recovered Rate Column -->
    <ng-container matColumnDef="recoveredRate">
      <th id="recovered" mat-header-cell *matHeaderCellDef mat-sort-header> Taux de guéris</th>
      <td mat-cell *matCellDef="let element" class="recovered-rate has-text-success">
        <strong>{{element.recoveredRate.toFixed(1)}} %</strong>
      </td>
    </ng-container>

    <!-- Test Total Column -->
    <ng-container matColumnDef="testTotal">
      <th id="testTotal" mat-header-cell *matHeaderCellDef mat-sort-header>Tests total</th>
      <td mat-cell *matCellDef="let element">
        {{element.testTotal | number: '' :'fr-FR'}}<br>
      </td>
    </ng-container>

    <!-- Test Total Positive Column -->
    <ng-container matColumnDef="testTotalPositive">
      <th id="testTotalPositive" mat-header-cell *matHeaderCellDef mat-sort-header>Tests total positifs </th>
      <td mat-cell *matCellDef="let element" class="has-text-danger">
        {{element.testTotalPositive | number: '' :'fr-FR'}}
      </td>
    </ng-container>

    <!-- Test Total Positive Column -->
    <ng-container matColumnDef="testTotalPositiveRate">
      <th id="testTotalPositiveRate" mat-header-cell *matHeaderCellDef mat-sort-header>Taux de positivité total</th>
      <td mat-cell *matCellDef="let element" class="has-text-danger death-rate">
        <strong>{{element.testTotalPositiveRate.toFixed(1) | number: '' :'fr-FR'}} %</strong>
      </td>
    </ng-container>


    <!-- Test Homme Positif Taux Column -->
    <ng-container matColumnDef="testMenPositiveRate">
      <th id="testMenPositiveRate" mat-header-cell *matHeaderCellDef mat-sort-header>Taux de positivité homme </th>
      <td mat-cell *matCellDef="let element" class="has-text-danger">
        {{element.testMenPositiveRate.toFixed(1) | number: '' :'fr-FR'}} %
      </td>
    </ng-container>

    <!-- Test Femme Positif Taux Column -->
    <ng-container matColumnDef="testWomenPositiveRate">
      <th id="testWomenPositiveRate" mat-header-cell *matHeaderCellDef mat-sort-header>Taux de positivité femme </th>
      <td mat-cell *matCellDef="let element" class="has-text-danger">
        {{element.testWomenPositiveRate.toFixed(1) | number: '' :'fr-FR'}} %
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
