table {
  width: 100%;
}

table td {
  vertical-align: middle;
  text-align: center;
}



table th {
  vertical-align: middle;
  font-weight: bold;
}

.container {
  overflow: auto;
}

.table-region {
  overflow: auto;
  height: 500px;
}

.table {
  height: calc(60vh + 50px);
  overflow: auto;
}

th.mat-header-cell:first-of-type {
  padding-left: 0;
}

td.mat-cell:first-of-type {
  padding-left: 0;
}

.rate {
  font-size: 0.9em;
}

.field {
  width: 100%;
}
