
<h1 class="title">Carte de la zone de circulation de 100 km à vol d'oiseau autour du domicile pour le déconfinement</h1>
<div class="don-container">
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Y4URADTSF28QY&source=url" target="_blank"
  rel="noopener noreferrer">
  <img src="../../../../assets/images/don_paypal.png">
  <div class="text">
    Soutenez-nous pour nous permettre de continuer
      d'exister et de vous relayer l'évolution de
      l'épidémie, on compte sur vous !
  </div>
</a>
</div>
<p>A partir du 11 pour le déconfinement, vos déplacements ne seront pas autorisés au delà de 100 km. Dans quelle limite aurez-vous droit de
  vous déplacer ? Pour savoir, rentrez votre adresse.
  <strong>
    Si votre destination se trouve hors de la zone bleue, c'est qu'elle est située à plus de 100 km de chez vous et à moins d'avoir un motif impérieux, il vous sera interdit de vous y rendre. Toutefois, un déplacement de plus de 100 km à l'intérieur d'un même département reste possible sans motif impérieux.
  </strong>
</p>
<form #f="ngForm"  class="form" (ngSubmit)="onSubmit()">
  <div class="field">
    <div class="control">
      <input class="input is-primary" name="address" type="text" placeholder="Entrez votre adresse" [(ngModel)]="address">
    </div>
  </div>
  <button class="button is-info" type="submit">Valider</button>
</form>
<div class="city" *ngIf="fullAddress">
  Votre adresse est à {{fullAddress.town}} {{fullAddress.city}} {{fullAddress.village}} dans le département {{fullAddress.county}} {{fullAddress.postcode}}.
</div>
<div class="city" *ngIf="fullAddress === null">
  <strong>Nous n'avons pas trouvé votre adresse, veuillez recommencer.</strong>
</div>
<div class="map-container" *ngIf="isBrowser">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
