<div class="columns">
  <div class="column is-6 is-hidden-mobile">
    <div class="ads">
      <ng2-adsense [adClient]="'ca-pub-8075252379413311'" [adFormat]="'auto'"  [adSlot]="4190207743"
        [display]="'block'" [fullWidthResponsive]="true"></ng2-adsense>
    </div>
  </div>
  <div class="column is-6 is-hidden-mobile">
    <h1 class="title">Carte de la zone de sortie de 100 km à vol d'oiseau autour du domicile</h1>
    <p class="text">Pour le déconfinement du 11 mai, les déplacements ne seront autorisés que dans un rayon de 100 km à
      vol d'oiseau
      autour du domicile. Dans quelle limite aurez-vous droit de vous déplacer ? Pour savoir, utilisez cette carte
      interactive qui calcule le rayon de 100 km en vous géolocalisant ou en rentrant votre adresse, votre ville ou
      votre
      code postal.
    </p>
    <p>
      <strong>
        Si votre destination se trouve hors de la zone bleue, c'est qu'elle est située à plus de 100 km de chez vous et
        à
        moins d'avoir un motif impérieux et une attestation, il vous sera interdit de vous y rendre. Toutefois, un déplacement de plus de
        100
        km à l'intérieur d'un même département reste possible sans motif impérieux.
      </strong>
    </p>
    <a href="https://www.interieur.gouv.fr/declaration-deplacement-100-km" target="_blank" rel="noopener noreferrer"><strong>Télécharger attestation 100 km (PDF)</strong></a><br>
    <a href="https://media.interieur.gouv.fr/deplacement-covid-19/" target="_blank" rel="noopener noreferrer"><strong>Générer attestation 100 km (numérique)</strong></a>
    <form #f="ngForm" class="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <div class="control">
          <input class="input is-primary" name="address" type="text"
            placeholder="Entrez votre adresse, votre ville ou votre code postal..." [(ngModel)]="address">
        </div>
      </div>
      <button class="button is-info" type="submit">Valider</button>
    </form>
  </div>
  <div class="column is-12 is-hidden-tablet">
    <div class="ads">
      <ng2-adsense [adClient]="'ca-pub-8075252379413311'" [adFormat]="'auto'"  [adSlot]="4190207743"
        [display]="'block'" [fullWidthResponsive]="true"></ng2-adsense>
    </div>
  </div>
  <div class="column is-12 is-hidden-tablet">
    <h1 class="title">Carte de la zone de sortie de 100 km à vol d'oiseau autour du domicile</h1>
    <a href="https://www.interieur.gouv.fr/declaration-deplacement-100-km" target="_blank" rel="noopener noreferrer"><strong>Télécharger attestation 100 km (PDF)</strong></a><br>
    <a href="https://media.interieur.gouv.fr/deplacement-covid-19/" target="_blank" rel="noopener noreferrer"><strong>Générer attestation 100 km (numérique)</strong></a>
    <form #f="ngForm" class="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <div class="control">
          <input class="input is-primary" name="address" type="text"
            placeholder="Entrez votre adresse, votre ville ou votre code postal..." [(ngModel)]="address">
        </div>
      </div>
      <button class="button is-info" type="submit">Valider</button>
    </form>
  </div>
</div>
<div class="city" *ngIf="fullAddress">
  Votre adresse est à {{fullAddress.town}} {{fullAddress.city}} {{fullAddress.village}} dans le département
  {{fullAddress.county}} {{fullAddress.postcode}}.
</div>
<div class="city" *ngIf="fullAddress === null">
  <strong>Nous n'avons pas trouvé votre adresse, veuillez recommencer.</strong>
</div>
<div class="map-container" *ngIf="isBrowser">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
<div class="columns is-multiline">
  <div class="column is-12 is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet">
    <div class="shared-buttons is-hidden-tablet" *ngIf="isBrowser">
      <share-buttons theme="material-dark"
        [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
        [exclude]="['google','pinterest','reddit','tumblr','mix','vk','telegram','xing','line','print']" [show]="5"
        [url]="'https://www.cascoronavirus.fr/carte-circulation-100-km-deconfinement'"></share-buttons>
    </div>
    <div class="is-hidden-tablet">
      <p class="text">Pour le déconfinement du 11 mai, les déplacements ne seront autorisés que dans un rayon de 100 km
        à
        vol d'oiseau
        autour du domicile. Dans quelle limite aurez-vous droit de vous déplacer ? Pour savoir, utilisez cette carte
        interactive qui calcule le rayon de 100 km en vous géolocalisant ou en rentrant votre adresse, votre ville ou
        votre
        code postal.
      </p>
      <p>
        <strong>
          Si votre destination se trouve hors de la zone bleue, c'est qu'elle est située à plus de 100 km de chez vous
          et
          à
          moins d'avoir un motif impérieux, il vous sera interdit de vous y rendre. Toutefois, un déplacement de plus de
          100
          km à l'intérieur d'un même département reste possible sans motif impérieux.
        </strong>
      </p>
    </div>
    <div class="ads">
      <ng2-adsense [adClient]="'ca-pub-8075252379413311'" [adFormat]="'fluid'"  [adSlot]="4044342867" [layout]="'in-article'"
        [display]="'block'" [fullWidthResponsive]="true" ></ng2-adsense>
    </div>
  </div>
  <div class="column is-12 is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet">
    <div class="shared-buttons is-hidden-mobile" *ngIf="isBrowser">
      <share-buttons theme="material-dark"
        [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
        [exclude]="['google','pinterest','reddit','tumblr','mix','vk','telegram','xing','line','print']" [show]="5"
        [url]="'https://www.cascoronavirus.fr/carte-circulation-100-km-deconfinement'"></share-buttons>
    </div>
    <!-- <div class="don-container">
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Y4URADTSF28QY&source=url"
        target="_blank" rel="noopener noreferrer">
        <img src="../../../../assets/images/don_paypal.png">
        <div class="text">
          Soutenez-nous pour nous permettre de continuer
          d'exister et de vous relayer l'évolution de
          l'épidémie, on compte sur vous !
        </div>
      </a>
    </div> -->
  </div>
</div>
