<h1 class="title is-spaced" id="tableDescription">Statistiques et cas Coronavirus COVID-19 {{mainStats?.translation}}
</h1>
<p class="description" *ngIf="selectedCountry?.country === 'Monde'">
  Suivez en direct l'épidémie du <strong>Coronavirus COVID-19</strong> avec le nombre de cas recensés, le nombre
  de morts et de cas guéris en <strong>France</strong> et dans le monde entier: <strong>Italie, Espagne,
    Chine</strong> à travers un dashboard et des graphiques détaillés.
</p>
<p class="description" *ngIf="selectedCountry?.country !== 'Monde' && selectedCountry?.country !== 'France'">
  Suivez en direct l'épidémie du <strong>Coronavirus COVID-19</strong> avec le nombre de cas recensés, le nombre
  de morts et de cas guéris en <strong>{{selectedCountry?.translation}}</strong> à travers un dashboard et des
  graphiques détaillés.
</p>
<p class="description" *ngIf="selectedCountry?.country === 'France'">
  Suivez en direct l'épidémie en <strong>
    {{mainStats.name}}
  </strong> du <strong>Coronavirus COVID-19</strong> avec les données Worldometer et les données hospitalières
  quotidiennes relatives à l'épidémie du COVID-19.
</p>
<p>
  <ng-container *ngIf="mainStats.updated">
    Les données Worldometer ont été mises à jour le
    <strong>{{mainStats?.updated | date: 'd MMMM yyyy à HH:mm':'fr-FR'}}</strong>.<br>
  </ng-container>
  <ng-container *ngIf="lastUpdate">
    Les données hospitalières ont été mises à jour le <strong>{{lastUpdate | date: 'd MMMM yyyy' :'fr-FR'}} à
      19:00</strong> par Santé publique.<br>
  </ng-container>
  <ng-container *ngIf="selectedZone">
    Au <strong>{{lastUpdate | date: 'd MMMM yyyy' :'fr-FR'}}</strong>,
    {{selectedZone}} <strong>{{mainStats.translation}}</strong> recense
    {{mainStats.hospitalStart | number: '' :'fr-FR'}}
    hospitalisations dont {{mainStats.reanimationStart | number: '' :'fr-FR'}} en réanimation au total depuis le début
    de l'épidémie. Actuellement,
    {{mainStats.hospital | number: '' :'fr-FR'}} patients sont hospitalisés dont
    {{mainStats.reanimation | number: '' :'fr-FR'}} en réanimation.
    Au total, {{mainStats.deaths | number: '' :'fr-FR'}} patients sont décédés et
    {{mainStats.recovered | number: '' :'fr-FR'}} sont retournés à leur domicile.
  </ng-container>
</p>
<div class="tile is-ancestor">
  <div class="tile is-parent" *ngIf="mainStats.cases !== undefined">
    <article class="tile is-child notification is-warning">
      <p class="title">{{mainStats.cases | number: '' :'fr-FR'}}
        <span class="increase">
          ({{mainStats?.todayCases | symbolNumber: 'mainStats' }} en 24h)
        </span>
      </p>
      <p class="subtitle">Cas <ng-container *ngIf="selectedCountry.country === 'France'">
          signalés
        </ng-container>
        <ng-container *ngIf="selectedCountry.country !== 'France'">
          confirmés
        </ng-container>
        <span class="note">
          <ng-container *ngIf="mainStats?.todayCasesHospital">
            dont <strong class="important-stat">{{mainStats.casesHospital | number: '' :'fr-FR'}}</strong>
            ({{mainStats?.todayCasesHospital | symbolNumber: 'mainStats' }} en 24h) confirmés
          </ng-container>
          <ng-container *ngIf="mainStats?.todayCasesEhpad">
            et <strong class="important-stat">{{mainStats.casesEhpad | number: '' :'fr-FR'}}</strong>
            ({{mainStats?.todayCasesEhpad | symbolNumber: 'mainStats' }} en 24h) en ESMS
          </ng-container>

        </span>
      </p>
      <div class="legend" *ngIf="selectedCountry.country === 'France'">
        Source : Worldometer avec les données remontées par les centres hospitaliers participants à SI-VIC et
        signalement liés au COVID-19 dans les ESMS
      </div>
      <div class="legend" *ngIf="selectedCountry.country !== 'France'">
        Source : Worldometer
      </div>
    </article>
  </div>
  <div class="tile is-parent" *ngIf="mainStats.hospital !== undefined">
    <article class="tile is-child notification hospital">
      <p class="title">{{mainStats.hospitalStart | number: '' :'fr-FR'}}
        <span class="increase">
          ({{mainStats.todayHospitalStart | symbolNumber: 'mainStats' }} en 24h)
        </span>
      </p>
      <p class="subtitle">Hospitalisés
        <span class="note">
          dont <strong class="important-stat">{{mainStats.hospital | number: '' :'fr-FR'}}</strong>
          ({{mainStats.todayHospital | symbolNumber: 'mainStats' }} en 24h) actuellement
        </span>
      </p>
      <p class="legend">
        Source : Données remontées par les centres hospitaliers participants à SI-VIC
      </p>
    </article>
  </div>
  <div class="tile is-parent" *ngIf="mainStats.active !== undefined && selectedCountry.country !== 'France'">
    <article class="tile is-child notification hospital">
      <p class="title">{{mainStats.active | number: '' :'fr-FR'}}
      </p>
      <p class="subtitle">Actifs</p>
      <p class="legend">
        Source : Worldometer
      </p>
    </article>
  </div>
  <div class="tile is-parent" *ngIf="mainStats.critical !== undefined ">
    <article class="tile is-child notification reanimation">
      <p class="title">{{mainStats.critical | number: '' :'fr-FR'}}
      </p>
      <p class="subtitle">Critiques</p>
      <p class="legend">
        Source : Worldometer
      </p>
    </article>
  </div>
  <div class="tile is-parent" *ngIf="mainStats.reanimation !== undefined">
    <article class="tile is-child notification reanimation">
      <p class="title">{{mainStats.reanimationStart | number: '' :'fr-FR'}}
        <span class="increase">
          ({{mainStats.todayReanimationStart | symbolNumber: 'mainStats' }} en 24h)
        </span>
      </p>
      <p class="subtitle">Admis en réanimation
        <span class="note">
          dont <strong class="important-stat">{{mainStats.reanimation | number: '' :'fr-FR'}}</strong>
          ({{mainStats?.todayReanimation | symbolNumber: 'mainStats' }} en 24h) actuellement
        </span>
      </p>
      <p class="legend">
        Source : Données remontées par les centres hospitaliers participants à SI-VIC
      </p>
    </article>
  </div>
  <div class="tile is-parent" *ngIf="mainStats.deaths !== undefined">
    <article class="tile is-child notification is-danger ">
      <ng-container *ngIf="mainStats.deathsHospital">
        <p class="title">
          {{mainStats.deaths | number: '' :'fr-FR'}}
          <span class="increase">
            ({{mainStats.todayDeaths | symbolNumber: 'mainStats' }} en 24h)
          </span>
        </p>
        <p class="subtitle">Décès
          <span class="note">
            dont <strong class="important-stat">{{mainStats.deathsHospital | number: '' :'fr-FR'}}</strong>
            ({{mainStats.todayDeathsHospital | symbolNumber: 'mainStats' }} en 24h) en milieu
            hospitalier et <strong class="important-stat">{{mainStats.deathsEhpad | number: '' :'fr-FR'}}</strong>
            ({{mainStats.todayDeathsEhpad | symbolNumber: 'mainStats'}} en 24h) en ESMS
          </span>
        </p>
        <p class="legend">
          Source : Worldometer avec les données remontées par les centres hospitaliers participants à SI-VIC et
          signalement
          liés au COVID-19 dans les ESMS
        </p>
      </ng-container>
      <ng-container *ngIf="mainStats.deaths !== undefined && !mainStats.deathsHospital">
        <p class="title">
          {{mainStats.deaths | number: '' :'fr-FR'}}
          <span class="increase">
            ({{mainStats.todayDeaths | symbolNumber: 'mainStats' }} en 24h)
          </span><br>
        </p>
        <p class="subtitle">Décès, <span class="rate">soit un taux de décès de <strong
              class="number">{{mainStats.deathRate.toFixed(1)}} %</strong> après hospitalisation</span>
        </p>
        <p class="legend" *ngIf="selectedZone">
          Source : Données remontées par les centres hospitaliers participants à SI-VIC
        </p>
        <p class="legend" *ngIf="selectedCountry?.country !== 'France'">
          Source : Worldometer
        </p>
      </ng-container>
    </article>
  </div>
  <div class="tile is-parent" *ngIf="mainStats.recovered !== undefined">
    <article class="tile is-child notification is-success active-map">
      <p class="title">
        {{mainStats.recovered | number: '' :'fr-FR'}}
        <span class="increase">
          ({{mainStats.todayRecovered | symbolNumber: 'mainStats' }} en 24h)
        </span>
      </p>
      <p class="subtitle">Guéris<span class="rate" *ngIf="selectedZone">, soit un taux de guérison de
          <strong class="number">{{mainStats.recoveredRate.toFixed(1)}} %</strong> après hospitalisation</span>
        <span class="rate" *ngIf="!selectedZone">, soit un taux de guérison de
          <strong class="number">{{ mainStats.recovered | percentage : mainStats.hospitalStart  }}</strong> après
          hospitalisation
        </span>
      </p>
      <p class="legend" *ngIf="selectedCountry?.country === 'France'">
        Source : Données remontées par les centres hospitaliers participants à SI-VIC
      </p>
      <p class="legend" *ngIf="selectedCountry?.country !== 'France'">
        Source : Worldometer
      </p>
    </article>
  </div>
</div>
