.increase {
  font-size: 0.55em;
  font-weight: normal;
}

.reanimation {
  background-color: #E95D0C;
  color: white;

}

.hospital {
  background-color: #F17D07;
  color: white;
}

.legend {
  font-size: 0.7em;
}

.note {
  font-size: 0.85em;
}

.type {
  font-size: 0.6em;
}

.important-stat {
  font-size: 1.3em;
}

.rate {
  font-size: 0.9em;
  .number {
    font-size: 1.1em;
  }
}

.resume {
  display: flex;
}

.share-buttons {
  display: flex;
}

.subtitle {
  font-size: 0.95em;
}

.title {}

.source-date {
  min-width: 120px;
  height: auto;
}
.tile.is-parent {
  display: flex;
}

