<h1 class="title is-spaced" id="tableDescription">Statistiques et cas Coronavirus COVID-19
  {{selectedCountry?.translation}}
  {{selectedZone?.name}}
</h1>
<div class="content">
  <p *ngIf="mainStats?.lastUpdate">
    Mis à jour le <strong>{{mainStats?.lastUpdate | date: 'dd/MM/yyyy à HH:MM'}}</strong>
  </p>
  <p *ngIf="lastUpdate">
    Les donnés hospitalières ont été mises à jour le <strong>{{lastUpdate | date: 'dd/MM/yyyy'}}</strong> par Santé publique.
  </p>
  <div class="tile is-ancestor">
    <div class="tile is-parent" *ngIf="mainStats.cases">
      <article class="tile is-child notification is-warning">
        <p class="title">{{mainStats.cases | number: '' :'fr-FR'}}
          <span class="increase">
            {{mainStats?.todayCases | symbolNumber }}
          </span>
        </p>
        <p class="subtitle">Confirmés</p>
        <div class="legend">
          Source : WorldofMeter
        </div>
      </article>
    </div>
    <div class="tile is-parent" *ngIf="mainStats.hospital">
      <article class="tile is-child notification hospital">
        <p class="title">{{mainStats.hospital | number: '' :'fr-FR'}}
          <span class="increase">
            {{mainStats.todayHospital | symbolNumber }}
          </span>
        </p>
        <p class="subtitle">Hospitalisations en cours</p>
        <p class="legend">
          Source : Données remontées par les centres hospitaliers participants à SI-VIC
        </p>
      </article>
    </div>
    <div class="tile is-parent" *ngIf="mainStats.reanimation">
      <article class="tile is-child notification reanimation">
        <p class="title">{{mainStats.reanimation | number: '' :'fr-FR'}}
          <span class="increase">
            {{mainStats.todayReanimation | symbolNumber }}
          </span>
        </p>
        <p class="subtitle">Réanimations en cours</p>
        <p class="legend">
          Source : Données remontées par les centres hospitaliers participants à SI-VIC
        </p>
      </article>
    </div>
    <div class="tile is-parent" *ngIf="mainStats.deaths">
      <article class="tile is-child notification is-danger ">
        <ng-container *ngIf="mainStats.deathsJHU">
          <p class="title">
            {{mainStats.deathsJHU | number: '' :'fr-FR'}}
          </p>
          <p class="subtitle">décès
            <span class="note">
              dont {{mainStats.deaths | number: '' :'fr-FR'}} ({{mainStats.todayDeaths | symbolNumber }}) chez les hôpitaux

            </span>
          </p>
          <p class="legend">
            Source : WorldOfMeter et données remontées par les centres hospitaliers participants à SI-VIC
          </p>
        </ng-container>
        <ng-container *ngIf="mainStats.deaths && !mainStats.deathsJHU">
          <p class="title">
            {{mainStats.deaths | number: '' :'fr-FR'}}
            <span class="increase">
              {{mainStats.todayDeaths | symbolNumber }}
            </span>
          </p>
          <p class="subtitle">décès</p>
          <p class="legend" *ngIf="selectedZone">
            Source : Données remontées par les centres hospitaliers participants à SI-VIC
          </p>
          <p class="legend" *ngIf="selectedCountry?.country !== 'France'">
            Source : WorldOfMeter
          </p>
        </ng-container>
      </article>
    </div>
    <div class="tile is-parent" *ngIf="mainStats.recovered">
      <article class="tile is-child notification is-success active-map">
        <p class="title">
          {{mainStats.recovered | number: '' :'fr-FR'}}
          <span class="increase">
            {{mainStats.todayRecovered | symbolNumber }}
          </span>
        </p>
        <p class="subtitle">Guéris</p>
        <p class="legend" *ngIf="selectedCountry?.country === 'France'">
          Source : Données remontées par les centres hospitaliers participants à SI-VIC
        </p>
        <p class="legend" *ngIf="selectedCountry?.country !== 'France'">
          Source : WorldOfMeter
        </p>
      </article>
    </div>
  </div>
</div>
