<div class="content">
  <h1 class="title">
    Les tests de dépistage pour diagnostic de COVID-19 en France par région et
    par département
  </h1>
  <div class="columns">
    <div class="column">
      <h2>Par départment</h2>
      <aside class="menu">
        <ul class="menu-list">
          <li *ngFor="let department of departments">
            <a
              href
              [routerLink]="[
                '/test-depistage/france/departement/',
                department.slug
              ]"
              title="Tests dépistage Coronavirus COVID-19 : {{
                department.name
              }}"
            >
              Tests de dépistage Coronavirus COVID-19 : {{ department.name }}
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column">
      <h2>Par région</h2>
      <aside class="menu">
        <ul class="menu-list">
          <li *ngFor="let region of regions">
            <a
              href
              [routerLink]="['/test-depistage/france/region/', region.slug]"
              title="Tests dépistage Coronavirus COVID-19 : {{ region.name }}"
            >
              Tests de dépistage Coronavirus COVID-19 : {{ region.name }}
            </a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</div>
