<div class="content">
  <h2 class="title">{{labelText}}</h2>
  <div id="chart-age"></div>
  <div class="radio-buttons">
    <mat-radio-group aria-label="Sélectionner" [(ngModel)]="dataType" (change)="onSelectTypeChange()">
      <mat-radio-button value="passage">Passages aux urgences</mat-radio-button>
      <mat-radio-button value="medical">Actes médicaux SOS Médecins</mat-radio-button>
      <mat-radio-button value="hospital">Hospitalisations parmi les passages aux urgences</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

