.orange {
  background-color: #F17D07;
  color: white;
}

.subtitle {
  font-size: 0.95em;
}

.note {
  font-size: 0.85em;
}

.calcul {
  font-size: 0.9em;
  display: block;
  margin-top: 1em;
  font-weight: bold;
}
