<h1 class="title">Les cas de Coronavirus COVID-19 par pays</h1>
<div class="ads">
  <ng2-adsense [adClient]="'ca-pub-8075252379413311'" [adFormat]="'auto'" [adSlot]="7139325788" [display]="'block'"
    [fullWidthResponsive]="true"></ng2-adsense>
</div>
<ul>
  <li *ngFor="let country of countries">
    <a href [routerLink]="['/stats', country.slug]" title="Cas de Coronavirus COVID-19 : {{country.country}}">
      <img [width]="32" [height]="32" [src]="country.flag" />
      Cas de Coronavirus COVID-19 : {{country.translation}}
    </a>
  </li>
</ul>
