/* You can add global styles to this file, and also import other style files */

$green: #43D787;
$info: #0069cc;
$yellow: 	#ffbb00;

$warning-invert: white;
$red: 	#f9461c;
$success-invert: white;

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

html,
body {
 height: 100%;
 position: relative;
}

.is-spaced {
  margin-top: 1.5rem;
}

.mat-progress-spinner circle {
  stroke: $info;
}

.mat-progress-spinner {
  margin-left: auto;
  margin-right: auto;
}

.mat-radio-button {
  font-family: inherit;
}

.chart-legend .legend-label {
  color: black !important;
}

.chart-legend .legend-title {
  text-align: center !important;
}

.chart-legend .legend-labels {
  background: none !important;
  text-align: center !important;
}

.chart-wrapper {
  height: 400px;
  margin-bottom: 2em;
}

.hero-body {
  padding: 1.5rem !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $info;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #035aac;
}



/* Material Table */

.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-select-search-inside-mat-option .mat-select-search-input {
  width: 100%;
  border: none;
  font-size: 1em;
  color: $info;
  font-weight: bold;
}

.mat-select {
  font-family: inherit;
  width: 100%;
  padding: 0.4em;
  border: 2px solid lightgrey;
}


.radio-buttons {
  text-align: center;
  margin-top: 1em;
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 1em;
  }
}

.mat-table {
  font-family: inherit;
}

.reanimation {
  color: #E95D0C;
}

.hospital {
  color: #F17D07;
}

/* Bulma */

.input {
  border: 2px solid lightgrey !important;
  border-radius: 0px !important;
}



/* Utilities */
@import "../node_modules/bulma/sass/utilities/_all.sass";

/* Base */
@import "../node_modules/bulma/sass/base/_all.sass";

/* Elements */
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/button.sass";


/* Form */
@import "../node_modules/bulma/sass/form/_all.sass";

/* Components */
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

/* Grid */
@import "../node_modules/bulma/sass/grid/_all.sass";

/* Layout */
@import "../node_modules/bulma/sass/layout/_all.sass";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


@include mobile {
  .tabs ul {
    flex-direction: column;

    li {
      width: 100%;
    }
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: $info;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: $info;
  color: $info;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: $info;
}

.content h2 {
  font-size: 1.5em;
}

.button-back {
  width: 100%;
  max-width: 400px;
}
