img {
  vertical-align: middle;
}

.content {
  width: auto;
}

.mat-select {
  width: 100%;
  padding: 0.4em;
  border: 2px solid lightgrey;
}

.is-active {
  font-weight: bold;
}

.don {
  display: flex;
  margin-bottom: 1.5em;
  align-items: center;
  font-size: 0.8em;
  .text {
    width: 450px;
  }
}
