<!-- Select -->
<app-coronavirus-select [selectedCountry]="selectedCountry" [selectedRegion]="selectedRegion"
  [selectedDepartment]="selectedDepartment" (selectCountryEvent)="onSelectCountry($event)"
  (selectRegionEvent)="onSelectRegion($event)" (selectDepartmentEvent)="onSelectDepartment($event)">
</app-coronavirus-select>
<!-- <div class="tabs is-medium is-spaced" *ngIf="selectedCountry.country === 'France'">
  <ul>
    <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
      <a *ngIf="!selectedRegion && ! selectedDepartment" [routerLink]="['/stats/', selectedCountry.slug]">
        Statistiques globales
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/stats/france/region/', selectedRegion.slug]">
        Statistiques globales
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/stats/france/departement/', selectedDepartment.slug]">
        Statistiques globales
      </a>
    </li>
    <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
      <a *ngIf="!selectedRegion && ! selectedDepartment" [routerLink]="['/test/', selectedCountry.slug]">
        Statistiques de tests de dépistage
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/test/france/region/', selectedRegion.slug]">
        Statistiques de tests de dépistage
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/test/france/departement/', selectedDepartment.slug]">
        Statistiques de tests de dépistage
      </a>
    </li>
  </ul>
</div> -->
<a (click)="onSelectCountry({country: 'France', slug: 'france', translation: 'France'})" class="button is-info is-spaced" *ngIf="selectedDepartment || selectedRegion">Retourner aux statistiques globales de la France</a>
<router-outlet  (activate)='onActivate($event)'></router-outlet>
