<!-- Select -->
<app-coronavirus-select [selectedCountry]="selectedCountry" [selectedRegion]="selectedRegion"
  [selectedDepartment]="selectedDepartment" (selectCountryEvent)="onSelectCountry($event)"
  (selectRegionEvent)="onSelectRegion($event)" (selectDepartmentEvent)="onSelectDepartment($event)">
</app-coronavirus-select>

<div class="tabs is-spaced" *ngIf="selectedCountry?.country === 'France'">
  <ul>
    <li *ngIf="selectedRegion || selectedDepartment">
      <a *ngIf="router.url | include: 'urgences'" [routerLink]="['/urgences/', selectedCountry.slug]">
        <span class="material-icons">
          arrow_back
        </span>
        Statistiques nationales
      </a>
      <a *ngIf="router.url | include: 'stats'" [routerLink]="['/stats/', selectedCountry.slug]">
        <span class="material-icons">
          arrow_back
        </span>
        Statistiques nationales
      </a>
      <a *ngIf="router.url | include: 'test-depistage'" [routerLink]="['/test-depistage/', selectedCountry.slug]">
        <span class="material-icons">
          arrow_back
        </span>
        Statistiques nationales
      </a>
    </li>
    <li [class.is-active]="router.url === '/' || (router.url | include: 'stats')">
      <a *ngIf="!selectedRegion && !selectedDepartment" [routerLink]="['/stats/', selectedCountry.slug]">
        Statistiques principales
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/stats/france/region/', selectedRegion.slug]">
        Statistiques principales
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/stats/france/departement/', selectedDepartment.slug]">
        Statistiques principales
      </a>
    </li>
    <li [class.is-active]="router.url | include: 'test-depistage'">
      <a *ngIf="!selectedRegion && !selectedDepartment" [routerLink]="['/test-depistage/', selectedCountry.slug]">
        Tests de dépistage
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/test-depistage/france/region/', selectedRegion.slug]">
        Tests de dépistage
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="[
          '/test-depistage/france/departement/',
          selectedDepartment.slug
        ]">
        Tests de dépistage
      </a>
    </li>
    <li [class.is-active]="router.url | include: 'urgences'">
      <a *ngIf="!selectedRegion && !selectedDepartment" [routerLink]="['/urgences/', selectedCountry.slug]">
        Urgences hospitalières
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/urgences/france/region', selectedRegion.slug]">
        Urgences hospitalières
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/urgences/france/departement', selectedDepartment.slug]">
        Urgences hospitalières
      </a>
    </li>
    <li [class.is-active]="router.url | include: 'indicateurs'">
      <a *ngIf="!selectedRegion && !selectedDepartment" [routerLink]="['/indicateurs-suivi-epidemie/', selectedCountry.slug]">
        Indicateurs de suivi
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/indicateurs-suivi-epidemie/france/region', selectedRegion.slug]">
        Indicateurs de suivi
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/indicateurs-suivi-epidemie/france/departement', selectedDepartment.slug]">
        Indicateurs de suivi
      </a>
    </li>

    <!-- <li [class.is-active]="router.url | include: 'transfert'">
      <a *ngIf="!selectedRegion && !selectedDepartment" [routerLink]="['/transfert-patients/', selectedCountry.slug]">
        Transferts de patients
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/transfert-patients/france/region', selectedRegion.slug]">
        Transferts de patients
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/transfert-patients/france/departement', selectedDepartment.slug]">
        Transferts de patients
      </a>
    </li>
    <li [class.is-active]="router.url | include: 'exces'">
      <a *ngIf="!selectedRegion && !selectedDepartment"
        [routerLink]="['/carte-exces-mortalite/', selectedCountry.slug]">
        <strong>Exces de mortalité</strong>
      </a>
      <a *ngIf="selectedRegion" [routerLink]="['/carte-exces-mortalite/', selectedRegion.slug]">
        <strong>Exces de mortalité</strong>
      </a>
      <a *ngIf="selectedDepartment" [routerLink]="['/carte-exces-mortalite/', selectedDepartment.slug]">
        <strong>Exces de mortalité</strong>
      </a>
    </li> -->
  </ul>
</div>
<div class="columns is-multiline">
  <div class="column column-left is-4">
    <aside class="menu">
      <p class="menu-label">
        Nos cartes
      </p>
      <ul class="menu-list">
        <li>
          <a [class.is-active]="router.url | include: 'deconfinement'" *ngIf="!selectedRegion && !selectedDepartment" [routerLink]="['/carte-deconfinement/france']">
            <span class="material-icons green">
              lens
            </span>
            <span class="material-icons orange">
              lens
            </span>
            <span class="material-icons red">
              lens
            </span>
            <strong>Carte du déconfinement</strong>
          </a>
          <a [class.is-active]="router.url | include: 'deconfinement'" *ngIf="selectedRegion" [routerLink]="['/carte-deconfinement/france/region', selectedRegion.slug]">
            <span class="material-icons green">
              lens
            </span>
            <span class="material-icons orange">
              lens
            </span>
            <span class="material-icons red">
              lens
            </span>
            <strong>Carte du déconfinement</strong>
          </a>
          <a [class.is-active]="router.url | include: 'deconfinement'" *ngIf="selectedDepartment" [routerLink]="['/carte-deconfinement/france/departement', selectedDepartment.slug]">
            <span class="material-icons green">
              lens
            </span>
            <span class="material-icons orange">
              lens
            </span>
            <span class="material-icons red">
              lens
            </span>
            <strong>Carte du déconfinement</strong>
          </a>
        </li>
        <li>
          <a routerLink="/carte-circulation-100-km-deconfinement">
            <strong>Carte des 100 kilomètres</strong>
          </a>
        </li>
        <li>
          <a routerLink="/carte-ouverture-plage-deconfinement">
            <strong>Carte des plages ouvertes</strong>
          </a>
        </li>
        <li>
          <a routerLink="/carte-centres-test-depistage">
            <strong>Carte des centres de test de dépistage</strong>
          </a>
        </li>
      </ul>
    </aside>
    <div class="shared-buttons" *ngIf="isBrowser">
      <h2>N'hésitez pas à partager notre site grâce à ces boutons !</h2>
      <share-buttons theme="material-dark"
        [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
        [exclude]="['google','pinterest','reddit','tumblr','mix','vk','telegram','xing','line','print']" [show]="5">
      </share-buttons>
    </div>
  </div>
  <div class="column is-8">
    <div class="ads">
      <ng2-adsense [adClient]="'ca-pub-8075252379413311'" [adFormat]="'auto'"  [adSlot]="7139325788"
        [display]="'block'" [fullWidthResponsive]="true"></ng2-adsense>
    </div>
  </div>
</div>

<router-outlet (activate)="onActivate($event)"></router-outlet>
