<!-- Select -->
<app-coronavirus-select [selectedCountry]="selectedCountry" [selectedRegion]="selectedRegion"
  [selectedDepartment]="selectedDepartment" (selectCountryEvent)="onSelectCountry($event)"
  (selectRegionEvent)="onSelectRegion($event)" (selectDepartmentEvent)="onSelectDepartment($event)">
</app-coronavirus-select>

<!-- Description -->
<div class="content is-spaced">
  <p class="description" *ngIf="selectedCountry.country === 'Monde'">
    Suivez en direct l'épidémie du <strong>Coronavirus COVID-19</strong> avec le nombre de cas recensés, le nombre
    de morts et de cas guéris en <strong>France</strong> et dans le monde entier: <strong>Italie, Espagne,
      Chine</strong> à travers un dashboard et des graphiques détaillés.
  </p>
  <p class="description" *ngIf="selectedCountry.country !== 'Monde'">
    Suivez en direct l'épidémie du <strong>Coronavirus COVID-19</strong> avec le nombre de cas recensés, le nombre
    de morts et de cas guéris en <strong>
      {{selectedCountry?.translation}} {{selectedRegion?.name}} {{selectedDepartment?.name}}
    </strong>
    à travers un dashboard et des graphiques détaillés.
  </p>
</div>

<!-- Graph Content -->
<ng-container *ngIf="(detailedStats$ | loading | async) as detailedStats">
  <ng-container *ngIf="detailedStats.value && detailedStats.value.length > 0">

    <!-- World Container-->
    <ng-container *ngIf="selectedCountry.country !== 'France'">
      <app-coronavirus-stats [mainStats]="detailedStats.value | countryfilter: selectedCountry.code"
        [selectedCountry]="selectedCountry"></app-coronavirus-stats>
      <div class="columns">
        <div class="column is-two-thirds" *ngIf="isBrowser">
          <ng-container *ngIf="selectedCountry.country === 'Monde'">
            <app-coronavirus-map [selectedDivisionMap]="'world'" [selectedCountry]="selectedCountry"
              [detailedStats]="detailedStats.value | countryfilter: ''">
            </app-coronavirus-map>
          </ng-container>
          <ng-container *ngIf="selectedCountry.country !== 'Monde'">
            <app-coronavirus-map [selectedDivisionMap]="'world'" [selectedCountry]="selectedCountry"
              [detailedStats]="detailedStats.value | countryfilter: selectedCountry.code">
            </app-coronavirus-map>
          </ng-container>
        </div>
        <div class="column" *ngIf="selectedCountry.country === 'Monde'">
          <app-coronavirus-table [detailedStats]="detailedStats.value | countryfilter: ''"
            [selectedCountry]="selectedCountry">
          </app-coronavirus-table>
        </div>
        <div class="column" *ngIf="selectedCountry.country !== 'Monde'">
          <ng-container *ngIf="(tableStatsByCountry$ | loading | async) as tableStatsByCountry">
            <ng-container *ngIf="tableStatsByCountry.value && tableStatsByCountry.value.length > 0">
              <app-coronavirus-table [detailedStats]="tableStatsByCountry.value" [selectedCountry]="selectedCountry">
              </app-coronavirus-table>
            </ng-container>
            <ng-container *ngIf="!tableStatsByCountry.value && !tableStatsByCountry.loading">
              <article class="message is-danger is-spaced">
                <div class="message-header">
                  <p>Données indisponibles</p>
                </div>
                <div class="message-body">
                  Nous n'avons pas trouvé de données.
                </div>
              </article>
            </ng-container>
            <ng-container *ngIf="detailedStats.loading">
              <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <!-- France Container -->
    <ng-container *ngIf="selectedCountry.country === 'France'">
      <ng-container *ngIf="(franceStats$ | loading | async) as franceStats">
        <ng-container *ngIf="franceStats.value">
          <ng-container *ngIf="selectedRegion">
            <app-coronavirus-stats [lastUpdate]="franceStats.value.lastUpdate"
              [mainStats]="detailedStats.value | countryfilter: 'FR'"
              [franceStats]="franceStats.value.region.total | countryfilter: selectedRegion.code"
              [selectedRegion]="selectedRegion">
            </app-coronavirus-stats>
          </ng-container>
          <ng-container *ngIf="selectedDepartment">
            <app-coronavirus-stats [lastUpdate]="franceStats.value.lastUpdate"
              [mainStats]="detailedStats.value | countryfilter: 'FR'"
              [franceStats]="franceStats.value.department.total | countryfilter: selectedDepartment.code"
              [selectedRegion]="selectedDepartment">
            </app-coronavirus-stats>
          </ng-container>
          <ng-container *ngIf="!selectedRegion && !selectedDepartment">
            <app-coronavirus-stats [lastUpdate]="franceStats.value.lastUpdate"
              [mainStats]="detailedStats.value | countryfilter: 'FR'" [franceStats]="franceStats.value.national.total"
              [selectedCountry]="{country: 'France', slug: 'france', translation: 'France', code: 'FR'}">
            </app-coronavirus-stats>
          </ng-container>
          <div class="columns" *ngIf="!selectedRegion && !selectedDepartment">
            <div class="column is-spaced" *ngIf="isBrowser">

              <mat-label class="label" for="country-select">Sélectionner un découpage</mat-label>
              <mat-select role="listbox" [(ngModel)]="selectedDivisionMap">
                <mat-option role="option" [value]="'regionFrance'">
                  Par région
                </mat-option>
                <mat-option role="option" [value]="'departmentFrance'">
                  Par département
                </mat-option>
              </mat-select>

              <app-coronavirus-map [selectedCountry]="selectedCountry" [selectedDivisionMap]="selectedDivisionMap"
                [detailedStats]="selectedDivisionMap === 'regionFrance' ?
              franceStats.value.region.total : franceStats.value.department.total"></app-coronavirus-map>
            </div>
            <div class="column is-spaced">
              <app-coronavirus-table [detailedStats]="selectedDivisionMap === 'regionFrance' ?
              franceStats.value.region.total : franceStats.value.department.total" [selectedCountry]="selectedCountry">
              </app-coronavirus-table>
            </div>
          </div>
          <div class="columns">
            <div class="column is-spaced is-half">
              <ng-container *ngIf="!selectedRegion && !selectedDepartment">
                <app-coronavirus-graph [dataFrance]="franceStats.value.timeline.national.total"></app-coronavirus-graph>
              </ng-container>
              <ng-container *ngIf="selectedRegion">
                <app-coronavirus-graph
                  [dataFrance]="franceStats.value.timeline.region | countryfilter: selectedRegion.code">
                </app-coronavirus-graph>
              </ng-container>
              <ng-container *ngIf="selectedDepartment">
                <app-coronavirus-graph
                  [dataFrance]="franceStats.value.timeline.department | countryfilter: selectedDepartment.code">
                </app-coronavirus-graph>
              </ng-container>
            </div>
            <div class="column is-spaced" *ngIf="isBrowser">
              <ng-container *ngIf="selectedRegion">
                <app-coronavirus-chart-gender
                  [dataGender]="{men: (franceStats.value.region.men | countryfilter: selectedRegion.code), women: (franceStats.value.region.women | countryfilter: selectedRegion.code)}">
                </app-coronavirus-chart-gender>
              </ng-container>
              <ng-container *ngIf="selectedDepartment">
                <app-coronavirus-chart-gender
                  [dataGender]="{men: (franceStats.value.department.men | countryfilter: selectedDepartment.code), women: (franceStats.value.department.women | countryfilter: selectedDepartment.code)}">
                </app-coronavirus-chart-gender>
              </ng-container>
              <ng-container *ngIf="!selectedRegion && !selectedDepartment && selectedCountry.country === 'France'">
                <app-coronavirus-chart-gender [dataGender]="franceStats.value.national">
                </app-coronavirus-chart-gender>
              </ng-container>
            </div>
            <div class="column is-spaced" *ngIf="isBrowser">
              <ng-container *ngIf="(franceStatsByAge$ | loading | async) as franceStatsByAge">
                <ng-container *ngIf="franceStatsByAge.value">
                  <ng-container *ngIf="selectedRegion">
                    <app-coronavirus-chart-age
                      [dataAge]="(franceStatsByAge.value.region | countryfilter: selectedRegion.code)">
                    </app-coronavirus-chart-age>
                  </ng-container>
                  <ng-container *ngIf="selectedDepartment">
                    <app-coronavirus-chart-age
                      [dataAge]="(franceStatsByAge.value.department | countryfilter: selectedDepartment.code)">
                    </app-coronavirus-chart-age>
                  </ng-container>
                  <ng-container *ngIf="!selectedRegion && !selectedDepartment">
                    <app-coronavirus-chart-age [dataAge]="franceStatsByAge.value.national"></app-coronavirus-chart-age>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>

        </ng-container>
        <ng-container *ngIf="!(franceStats.value) && !franceStats.loading">
          <article class="message is-danger is-spaced">
            <div class="message-header">
              <p>Données indisponibles</p>
            </div>
            <div class="message-body">
              Nous n'avons pas trouvé de données.
            </div>
          </article>
        </ng-container>
        <ng-container *ngIf="franceStats.loading">
          <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
        </ng-container>
      </ng-container>

    </ng-container>

  </ng-container>
  <ng-container *ngIf="(detailedStats.value && detailedStats.value.length === 0) && !detailedStats.loading">
    <article class="message is-danger is-spaced">
      <div class="message-header">
        <p>Données indisponibles</p>
      </div>
      <div class="message-body">
        Nous n'avons pas trouvé de données.
      </div>
    </article>
  </ng-container>
  <ng-container *ngIf="detailedStats.loading">
    <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
  </ng-container>
</ng-container>

<!-- Graph Footer-->
<ng-container *ngIf="!selectedDepartment && !selectedRegion && selectedCountry.country !== 'France'">
  <div class="content" *ngIf="(data$ | loading | async) as data">
    <ng-container *ngIf="isBrowser">
      <h1 class="title is-spaced">L'avancée du coronavirus sur les 15 derniers jours</h1>
      <div class="columns" *ngIf="selectedCountry.country === 'Monde'">
        <ng-container *ngIf="data.value">
          <div class="column">
            <app-coronavirus-graph [data]="data.value"></app-coronavirus-graph>
          </div>
          <div class="column">
            <app-coronavirus-column [data]="data.value"></app-coronavirus-column>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!data.value && !data.loading">
        <article class="message is-danger is-spaced">
          <div class="message-header">
            <p>Données indisponibles</p>
          </div>
          <div class="message-body">
            Nous n'avons pas trouvé de données.
          </div>
        </article>
      </ng-container>
      <ng-container *ngIf="data.loading">
        <mat-spinner [diameter]="60" class="spinner is-spaced"></mat-spinner>
      </ng-container>
      <div class="columns" *ngIf="isBrowser && !selectedDepartment && !selectedRegion">
        <div class="column" *ngIf="selectedCountry.country !== 'Monde' ">
          <ng-container *ngIf="(dataConfirmed$ | async) as dataConfirmed">
            <ng-container *ngIf="(dataRecovered$ | async) as dataRecovered">
              <ng-container *ngIf="(dataDeaths$ | async) as dataDeaths">
                <app-coronavirus-graph [dataConfirmed]="dataConfirmed" [dataRecovered]="dataRecovered"
                  [dataDeaths]="dataDeaths"></app-coronavirus-graph>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
