<div class="is-spaced">
  <div #chartElement id="map"></div>
  <div class="legends">
    <ul >
      <li>
        <span class="material-icons level-1">
          brightness_1
        </span>
        <span>
          Pas d'excès de mortalité
        </span>

      </li>
      <li>
        <span class="material-icons level-2">
          brightness_1
        </span>
        <span>
          Excès modéré de mortalité
        </span>

      </li>
      <li>
        <span class="material-icons level-3">
          brightness_1
        </span>
        <span>
          Excès élevé de mortalité
        </span>

      </li>
      <li>
        <span class="material-icons level-4">
          brightness_1
        </span>
        <span>
          Excès très élevé de mortalité
        </span>

      </li>
      <li>
        <span class="material-icons level-5">
          brightness_1
        </span>
        <span>
          Excès exceptionnel de mortalité
        </span>
      </li>
    </ul>
  </div>

</div>
